@charset "utf-8";
/* 
 * 漢字標準格式 v2.1.0
 * @font-face字體設定
 * ---
 * @font-face settings,
 * Hanzi-optimised CSS Mode
 *
 *
 *
 * Lisence: MIT Lisence
 * Last Modified: 2013/09/11
 *
 */
/* ---------------------------------------
   四類漢字字體集
   ---
   The Four Typefaces
   ---------------------------------------
 *
 * 1. On Mac OS X;
 * 2. On Windows;
 * 3. For Webkit;
 * 4. For Gecko;
 * 5. On Android;
 * 6. IE hacks.
 *
 *
   ---------------------------------------
   黑體
   Heiti (Gothic)
   --------------------------------------- */
@font-face {
  font-family: 'Han Heiti';
  src: local("Hiragino Sans GB"), local("Heiti SC"), local("Heiti TC"), local("Microsoft Yahei"), local("Microsoft Jhenghei"), local("Droid Sans Fallback");
}

@font-face {
  font-family: 'Han Heiti';
  src: local("Microsoft Yahei"), local("Microsoft Jhenghei");
  unicode-range: U+4E00;
}

/* 宋體（明朝體）
   Songti (Mincho)
   --------------------------------------- */
@font-face {
  font-family: 'Han Songti';
  src: local(STSongti-SC-Regular), local("Songti SC"), local(PMingLiU), local(SimSun);
}

@font-face {
  font-family: 'Han Songti';
  src: local(PMingLiU), local(SimSun);
  unicode-range: U+4E00;
}

/* 楷體
   Kaiti (Cursive)
   --------------------------------------- */
@font-face {
  font-family: 'Han Kaiti';
  src: local(STKaiti), local("標楷體"), local(DFKaiShu-SB-Estd-BF), local(Kaiti), local(DFKai-SB);
}

@font-face {
  font-family: 'Han Kaiti';
  src: local("標楷體"), local(DFKaiShu-SB-Estd-BF), local(Kaiti), local(DFKai-SB);
  unicode-range: U+4E00;
}

/* 中華民國國家標準楷體 */
@font-face {
  font-family: 'Han Kaiti CNS';
  src: local("標楷體"), local(DFKaiShu-SB-Estd-BF);
}

@font-face {
  font-family: 'Han Kaiti CNS';
  src: local("標楷體"), local(DFKaiShu-SB-Estd-BF);
  unicode-range: U+4E00;
}

/* 中國國家標準楷體 */
@font-face {
  font-family: 'Han Kaiti GB';
  src: local(STKaiti), local(Kai), local(Kaiti), local(DFKai-SB);
}

@font-face {
  font-family: 'Han Kaiti GB';
  src: local(Kaiti), local(DFKai-SB);
  unicode-range: U+4E00;
}

/* 仿宋體
   Fangsong
   --------------------------------------- */
@font-face {
  font-family: 'Han Fangsong';
  src: local(STFangsong), local(FangSong);
}

@font-face {
  font-family: 'Han Fangsong';
  src: local(FangSong);
  unicode-range: U+4E00;
}

/* 手寫體
   Cursive
   --------------------------------------- */
@font-face {
  font-family: cursive;
  src: local(STKaiti), local(Kai), local("標楷體"), local(DFKaiShu-SB-Estd-BF);
}

@font-face {
  font-family: cursive;
  src: local("標楷體"), local(DFKaiShu-SB-Estd-BF);
  unicode-range: U+4E00;
}

/* ---------------------------------------
   襯線西文斜體
   ---
   Italic serif for Latin
   --------------------------------------- */
@font-face {
  /* 襯線西文斜體字型 */
  font-family: 'Latin Italic Serif';
  src: local("Georgia-Italic"), local("Georgia Italic"), local("Times-Italic"), local("TimesNewRomanPS-ItalicMT"), local("Times New Roman Italic");
}

/* ---------------------------------------
   無襯線西文斜體
   ---
   Italic sans-serif for Latin
   --------------------------------------- */
@font-face {
  font-family: 'Latin Italic Sans';
  src: local("HelveticaNeue-Italic"), local("Helvetica Neue Italic"), local("Helvetica-LightOblique"), local("Helvetica Oblique"), local("Arial Italic"), local("Arial-ItalicMT");
}

/* ---------------------------------------
   注音符號
   ---
   Zhuyin
   --------------------------------------- */
@font-face {
  font-family: 'Han Zhuyin Cursive';
  src: local("☺"), url(../fonts/zhuyin.eot) format("embedded-opentype"), url(../fonts/zhuyin.ttf) format("truetype");
}

@font-face {
  font-family: 'Han Zhuyin Sans';
  src: local("Hiragino Sans GB");
}

@font-face {
  font-family: 'Han Zhuyin Sans';
  src: local("Heiti TC");
  unicode-range: U+3127, U+02C7, U+02CA-B, U+02D9;
}

/* ---------------------------------------
   漢字標點
   ---
   Hanzi puncuation,
   ‘Biaodian’(zh) and ‘Yakumono’(ja)
   --------------------------------------
   **注意：**為Windows設定的字體*必須*置於
   OS X字體設定後方。

   **NOTE**: Font settings for Windows
   should be *always* placed after tho-
   se for OS X. Since there are quite a
   few fonts from Windows existing on 
   OS X as well.
   ---------------------------------------
 *
 * 1. On Mac OS X and iOS;
 * 2. On Windows;
 * 3. On Ubuntu and Debian;
 * 4. For other OSs, uses web font.
 *
 *
   ---------------------------------------
   單點全形句號（．）
   Fullwidth full stop
   --------------------------------------- */
@font-face {
  font-family: 'Biaodian Sans';
  src: local("Hiragino Sans GB"), local(STHeiti), local("Heiti SC"), local("MS Gothic"), local(SimSun), local(WenQuanYiMicroHei), local(IPAexGothic), local("VL Gothic");
  unicode-range: U+FF0E;
}

@font-face {
  font-family: 'Biaodian Serif';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local(STSongti-SC-Regular), local(STSong), local(SimSun), local(IPAexMincho), local(IPAMincho), local(UMingCN);
  unicode-range: U+FF0E;
}

@font-face {
  font-family: 'Biaodian Pro Sans';
  src: local("Hiragino Sans GB"), local(STHeiti), local("Heiti SC"), local("MS Gothic"), local(SimSun), local(WenQuanYiMicroHei), local(IPAexGothic), local("VL Gothic");
  unicode-range: U+FF0E;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local(STSongti-SC-Regular), local(STSong), local(SimSun), local(IPAexMincho), local(IPAMincho), local(UMingCN);
  unicode-range: U+FF0E;
}

@font-face {
  font-family: 'Biaodian Pro Sans CNS';
  src: local("Hiragino Sans GB"), local(STHeiti), local("Heiti SC"), local("MS Gothic"), local(SimSun), local(WenQuanYiMicroHei), local(IPAexGothic), local("VL Gothic");
  unicode-range: U+FF0E;
}

@font-face {
  font-family: 'Biaodian Pro Serif CNS';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local(STSongti-SC-Regular), local(STSong), local(SimSun), local(IPAexMincho), local(IPAMincho), local(UMingCN);
  unicode-range: U+FF0E;
}

/* 間隔號（·）
   Middle dot
   --------------------------------------- */
@font-face {
  font-family: 'Biaodian Sans';
  src: local("Hiragino Sans GB"), local(STHeiti), local("Heiti SC"), local(SimSun), local("VL Gothic"), local("ARPLMingU20");
  unicode-range: U+00B7;
}

@font-face {
  font-family: 'Biaodian Serif';
  src: local(STSongti-SC-Regular), local(STSong), local("Heiti SC"), local(SimSun), local("ARPLMingU20"), local("VL Gothic");
  unicode-range: U+00B7;
}

@font-face {
  font-family: 'Biaodian Pro Sans';
  src: local("Hiragino Sans GB"), local(STHeiti), local("Heiti SC"), local(SimSun), local("VL Gothic"), local("ARPLMingU20");
  unicode-range: U+00B7;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src: local(STSongti-SC-Regular), local(STSong), local("Heiti SC"), local(SimSun), local("ARPLMingU20"), local("VL Gothic");
  unicode-range: U+00B7;
}

@font-face {
  font-family: 'Biaodian Pro Sans CNS';
  src: local("Hiragino Sans GB"), local(STHeiti), local("Heiti SC"), local(SimSun), local("VL Gothic"), local("ARPLMingU20");
  unicode-range: U+00B7;
}

@font-face {
  font-family: 'Biaodian Pro Serif CNS';
  src: local(STSongti-SC-Regular), local(STSong), local("Heiti SC"), local(SimSun), local("ARPLMingU20"), local("VL Gothic");
  unicode-range: U+00B7;
}

/* 破折號（——）
   Em dash
   --------------------------------------- */
@font-face {
  font-family: 'Biaodian Sans';
  src: local("Hiragino Sans GB"), local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local("Microsoft Yahei"), local(SimSun), local(WenQuanYiZenHei), local("VL Gothic");
  unicode-range: U+2014;
}

@font-face {
  font-family: 'Biaodian Serif';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local(STSongti-SC-Regular), local(STSong), local("Microsoft Yahei"), local(SimSun), local(IPAexMincho), local(WenQuanYiZenHei), local("VL Gothic");
  unicode-range: U+2014;
}

@font-face {
  font-family: 'Yakumono Sans';
  src: local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local("Arial Unicode MS"), local("MS Gothic"), local("VL Gothic"), local("Droid Sans Fallback");
  unicode-range: U+2014;
}

@font-face {
  font-family: 'Yakumono Serif';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local("MS Mincho"), local("Microsoft Yahei"), local("VL Gothic"), local("Droid Sans Fallback");
  unicode-range: U+2014;
}

@font-face {
  font-family: 'Biaodian Pro Sans';
  src: local("Hiragino Sans GB"), local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local("Microsoft Yahei"), local(SimSun), local(WenQuanYiZenHei), local("VL Gothic");
  unicode-range: U+2014;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local(STSongti-SC-Regular), local(STSong), local("Microsoft Yahei"), local(SimSun), local(IPAexMincho), local(WenQuanYiZenHei), local("VL Gothic");
  unicode-range: U+2014;
}

@font-face {
  font-family: 'Biaodian Pro Sans CNS';
  src: local("Hiragino Sans GB"), local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local("Microsoft Yahei"), local(SimSun), local(WenQuanYiZenHei), local("VL Gothic");
  unicode-range: U+2014;
}

@font-face {
  font-family: 'Biaodian Pro Serif CNS';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local(STSongti-SC-Regular), local(STSong), local("Microsoft Yahei"), local(SimSun), local(IPAexMincho), local(WenQuanYiZenHei), local("VL Gothic");
  unicode-range: U+2014;
}

/* 省略號（……）
   Ellipsis
   --------------------------------------- */
@font-face {
  font-family: 'Biaodian Sans';
  src: local("Hiragino Sans GB"), local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local(Meiryo), local("MS Gothic"), local(SimSun), local(PMingLiU), local(WenQuanYiZenHei), local(WenQuanYiMicroHei), local("VL Gothic"), local("ARPLMingU20");
  unicode-range: U+2026;
}

@font-face {
  font-family: 'Biaodian Serif';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local(STSongti-SC-Regular), local("MS Mincho"), local(SimSun), local(PMingLiU), local(IPAexMincho), local(IPAMincho), local("AR PL UMing"), local("ARPLMingU20");
  unicode-range: U+2026;
}

@font-face {
  font-family: 'Yakumono Sans';
  src: local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local(Meiryo), local("MS Gothic"), local(IPAexGothic), local("VL Gothic");
  unicode-range: U+2026;
}

@font-face {
  font-family: 'Yakumono Serif';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local("MS Mincho"), local(IPAexMincho), local(IPAMincho);
  unicode-range: U+2026;
}

@font-face {
  font-family: 'Biaodian Pro Sans';
  src: local("Hiragino Sans GB"), local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local(SimSun), local(PMingLiU), local(WenQuanYiZenHei), local(WenQuanYiMicroHei), local("VL Gothic"), local("ARPLMingU20");
  unicode-range: U+2026;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local(STSongti-SC-Regular), local(SimSun), local(PMingLiU), local(IPAexMincho), local(IPAMincho), local("AR PL UMing"), local("ARPLMingU20");
  unicode-range: U+2026;
}

@font-face {
  font-family: 'Biaodian Pro Sans CNS';
  src: local("Hiragino Sans GB"), local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local(SimSun), local(PMingLiU), local(WenQuanYiZenHei), local(WenQuanYiMicroHei), local("VL Gothic"), local("ARPLMingU20");
  unicode-range: U+2026;
}

@font-face {
  font-family: 'Biaodian Pro Serif CNS';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local(STSongti-SC-Regular), local(SimSun), local(PMingLiU), local(IPAexMincho), local(IPAMincho), local("AR PL UMing"), local("ARPLMingU20");
  unicode-range: U+2026;
}

/* 彎引號（“‘’”）
   Curve quotes
   --------------------------------------- */
@font-face {
  font-family: 'Biaodian Sans';
  src: local("Hiragino Sans GB"), local(STHeiti), local("Heiti SC"), local(SimSun), local(PMingLiU), local("IPAexGothic"), local("AR PL UMing TW"), local("ARPLMingU20");
  unicode-range: U+201C-201D, U+2018-2019;
}

@font-face {
  font-family: 'Biaodian Serif';
  src: local("Lisong Pro"), local(STSongti-SC-Regular), local(STSong), local(STHeiti), local("Heiti SC"), local(SimSun), local(PMingLiU), local("IPAexMincho"), local(IPAMincho), local("AR PL UMing TW"), local("ARPLMingU20");
  unicode-range: U+201C-201D, U+2018-2019;
}

@font-face {
  font-family: 'Biaodian Pro Sans';
  src: local("Hiragino Sans GB"), local(STHeiti), local("Heiti SC"), local(SimSun), local(PMingLiU), local("IPAexGothic"), local("AR PL UMing TW"), local("ARPLMingU20");
  unicode-range: U+201C-201D, U+2018-2019;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src: local("Lisong Pro"), local(STSongti-SC-Regular), local(STSong), local(STHeiti), local("Heiti SC"), local(SimSun), local(PMingLiU), local("IPAexMincho"), local(IPAMincho), local("AR PL UMing TW"), local("ARPLMingU20");
  unicode-range: U+201C-201D, U+2018-2019;
}

@font-face {
  font-family: 'Biaodian Pro Sans CNS';
  src: local("Hiragino Sans GB"), local(STHeiti), local("Heiti SC"), local(SimSun), local(PMingLiU), local("IPAexGothic"), local("AR PL UMing TW"), local("ARPLMingU20");
  unicode-range: U+201C-201D, U+2018-2019;
}

@font-face {
  font-family: 'Biaodian Pro Serif CNS';
  src: local("Lisong Pro"), local(STSongti-SC-Regular), local(STSong), local(SimSun), local(PMingLiU), local("IPAexMincho"), local(IPAMincho), local("AR PL UMing TW"), local("ARPLMingU20");
  unicode-range: U+201C-201D, U+2018-2019;
}

/* 着重號（●）
   Emphasis dots
   --------------------------------------- */
@font-face {
  font-family: 'Biaodian Sans';
  src: local("Times New Roman"), local("Droid Sans Fallback");
  unicode-range: U+25CF;
}

@font-face {
  font-family: 'Biaodian Serif';
  src: local("Times New Roman"), local("Droid Sans Fallback");
  unicode-range: U+25CF;
}

@font-face {
  font-family: 'Biaodian Pro Sans';
  src: local("Times New Roman"), local("Droid Sans Fallback");
  unicode-range: U+25CF;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src: local("Times New Roman"), local("Droid Sans Fallback");
  unicode-range: U+25CF;
}

@font-face {
  font-family: 'Biaodian Pro Sans CNS';
  src: local("Times New Roman"), local("Droid Sans Fallback");
  unicode-range: U+25CF;
}

@font-face {
  font-family: 'Biaodian Pro Serif CNS';
  src: local("Times New Roman"), local("Droid Sans Fallback");
  unicode-range: U+25CF;
}

/* ---------------------------------------
   進階版標點樣式修正
   ---
   Advanced Correction to
   Hanzi Punctuation
   ---------------------------------------
 *
 * a. 句、逗、頓號（。，、）
 *    Period, comma, paused comma
 *
 * b. 分、冒、問、嘆號（；：？！）
 *    Colon, semicolon, question, exclam-
 *    ation marks
 *
 */
@font-face {
  font-family: 'Biaodian Pro Sans';
  src: local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local("MS Gothic"), local("IPAexGothic"), local("AR PL UMing TW"), local("ARPLMingU20");
  unicode-range: U+3002, U+FF0C, U+3001, U+FF1B, U+FF1A, U+FF1F, U+FF01;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local("MS Mincho"), local("IPAexGothic"), local("AR PL UMing TW"), local("ARPLMingU20");
  unicode-range: U+3002, U+FF0C, U+3001, U+FF1B, U+FF1A, U+FF1F, U+FF01;
}

@font-face {
  font-family: 'Biaodian Pro Sans CNS';
  src: local("Heiti TC"), local("Lihei Pro"), local("Microsoft Jhenghei"), local(PMingLiU), local("ARPLMingU20");
  unicode-range: U+3002, U+FF0C, U+3001;
}

@font-face {
  font-family: 'Biaodian Pro Serif CNS';
  src: local(STSongti-TC-Regular), local("Lisong Pro"), local(LiSungLight), local("Heiti TC"), local(PMingLiU), local("IPAexGothic"), local("AR PL UMing TW"), local("ARPLMingU20");
  unicode-range: U+3002, U+FF0C, U+3001, U+FF1B, U+FF1A, U+FF1F, U+FF01;
}

/*
 * a. 引號（「『』」）
 *    Quotes
 *
 * b. 括號、書名號（（）《》〈〉）
 *    Brackets
 *
 */
@font-face {
  font-family: 'Biaodian Pro Sans';
  src: local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local(SimSun), local(PMingLiU), local("IPAexGothic"), local("AR PL UMing TW"), local("ARPLMingU20");
  unicode-range: U+300C-300F, U+300A-300B, U+3008-3009, U+FF08-FF09;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local(SimSun), local(IPAexGothic), local("AR PL UMing TW"), local(ARPLMingU20);
  unicode-range: U+300C-300F, U+300A-300B, U+3008-3009, U+FF08-FF09;
}

@font-face {
  font-family: 'Biaodian Pro Sans CNS';
  src: local("Hiragino Kaku Gothic ProN"), local("Hiragino Kaku Gothic Pro"), local(SimSun), local(PMingLiU), local("IPAexGothic"), local("AR PL UMing TW"), local("ARPLMingU20");
  unicode-range: U+300C-300F, U+300A-300B, U+3008-3009, U+FF08-FF09;
}

@font-face {
  font-family: 'Biaodian Pro Serif CNS';
  src: local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local(SimSun), local(IPAexGothic), local("AR PL UMing TW"), local(ARPLMingU20);
  unicode-range: U+300C-300F, U+300A-300B, U+3008-3009, U+FF08-FF09;
}

/*
 * 解決Firefox不支援`Unicode-range`的問題
 * 
 * Solution to Firefox's `Unicode-range`
 * unspported issue
   --------------------------------------- */
@font-face {
  font-family: 'Biaodian Sans';
  src: local("Lying to Firefox");
  unicode-range: U+270C;
}

@font-face {
  font-family: 'Biaodian Serif';
  src: local("Lying to Firefox");
  unicode-range: U+270C;
}

@font-face {
  font-family: 'Biaodian Pro Sans';
  src: local("Lying to Firefox");
  unicode-range: U+270C;
}

@font-face {
  font-family: 'Biaodian Pro Serif';
  src: local("Lying to Firefox");
  unicode-range: U+270C;
}

@font-face {
  font-family: 'Biaodian Pro Sans CNS';
  src: local("Lying to Firefox");
  unicode-range: U+270C;
}

@font-face {
  font-family: 'Biaodian Pro Serif CNS';
  src: local("Lying to Firefox");
  unicode-range: U+270C;
}
