@charset "utf-8";
/* 
 * 漢字標準格式 v2.1.0
 * Ruby: 國語注音符號
 * ---
 * Ruby: Mandarin Phonetic Symbols (Zhuyin),
 * Hanzi-optimised CSS Mode
 *
 *
 *
 * Lisence: MIT Lisence
 * Last Modified: 2013/08/28
 *
 */
span.han-js-zhuyin-rendered span.zy {
  display: inline-block;
  opacity: 0;
  text-indent: -9999999px;
  width: 0;
}

span.han-js-zhuyin-rendered span.zi[data-zy] {
  display: inline-block;
  height: 2em;
  margin-right: .1em;
  position: relative;
  text-indent: 0;
}

span.han-js-zhuyin-rendered span.zi[data-zy]:after,
span.han-js-zhuyin-rendered span.zi[data-zy][data-tone]:before {
  display: inline-block;
  font: 300 1em/.9 normal 'Han Zhuyin Cursive', cursive, serif;
  text-decoration: none;
  text-emphasis: none;
  -moz-text-emphasis: none;
  -o-text-emphasis: none;
  -webkit-text-emphasis: none;
  text-indent: 0;
  vertical-align: middle;
}

span.han-js-zhuyin-rendered span.zi[data-zy]:after,
span.han-js-zhuyin-rendered span.zi[data-zy][data-tone]:before {
  font-family: 'Han Zhuyin Cursive', cursive, serif;
  font-weight: normal;
}

span.han-js-zhuyin-rendered.zhuyin-sans-serif span.zi[data-zy]:after {
  font-family: 'Han Zhuyin Sans', sans-serif;
}

span.han-js-zhuyin-rendered span.zi[data-zy]:after {
  content: attr(data-zy);
  height: 2.7em;
  line-height: .9;
  margin-left: -.2em;
  transform: scale(0.55);
  -moz-transform: scale(0.55);
  -ms-transform: scale(0.55);
  -o-transform: scale(0.55);
  -webkit-transform: scale(0.55);
  white-space: pre-wrap;
  word-break: break-all;
  width: .8em;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-form="shengmu"]:after,
span.han-js-zhuyin-rendered span.zi[data-zy][data-form="jieyin"]:after,
span.han-js-zhuyin-rendered span.zi[data-zy][data-form="yunmu"]:after {
  margin-top: .65em;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-form="shengmu-jieyin"]:after,
span.han-js-zhuyin-rendered span.zi[data-zy][data-form="shengmu-yunmu"]:after,
span.han-js-zhuyin-rendered span.zi[data-zy][data-form="jieyin-yunmu"]:after {
  margin-top: .35em;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-form="shengmu-jieyin-yunmu"]:after {
  margin-top: -.25em;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-tone="0"]:before {
  content: '˙';
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-tone="2"]:before {
  content: 'ˊ';
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-tone="3"]:before {
  content: 'ˇ';
  /* 
   * ˇ(CARON); 
   * ˅(MODIFIER LETTER DOWN ARROWHEAD).
   */
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-tone="4"]:before {
  content: 'ˋ';
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-tone]:before {
  height: 2.7em;
  position: absolute;
  transform: scale(0.55);
  -moz-transform: scale(0.55);
  -ms-transform: scale(0.55);
  -o-transform: scale(0.55);
  -webkit-transform: scale(0.65);
  vertical-align: middle;
  width: 1em;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-tone="0"]:before,
span.han-js-zhuyin-rendered span.zi[data-zy][data-tone="2"]:before,
span.han-js-zhuyin-rendered span.zi[data-zy][data-tone="3"]:before,
span.han-js-zhuyin-rendered span.zi[data-zy][data-tone="4"]:before {
  margin-right: -.6em;
  right: 0;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-tone="0"]:before {
  margin-right: -.25em;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-tone="2"]:before {
  margin-right: -.5em;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-form="shengmu"][data-tone]:not([data-tone="0"]):before,
span.han-js-zhuyin-rendered span.zi[data-zy][data-form="jieyin"][data-tone]:not([data-tone="0"]):before,
span.han-js-zhuyin-rendered span.zi[data-zy][data-form="yunmu"][data-tone]:not([data-tone="0"]):before {
  margdin-top: .45em;
  padding-top: .35em;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-form="shengmu-jieyin"][data-tone]:not([data-tone="0"]):before,
span.han-js-zhuyin-rendered span.zi[data-zy][data-form="shengmu-yunmu"][data-tone]:not([data-tone="0"]):before,
span.han-js-zhuyin-rendered span.zi[data-zy][data-form="jieyin-yunmu"][data-tone]:not([data-tone="0"]):before {
  margin-top: .65em;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-form="shengmu-jieyin-yunmu"][data-tone]:not([data-tone="0"]):before {
  margin-top: .55em;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-form="shengmu"][data-tone][data-tone="0"]:before,
span.han-js-zhuyin-rendered span.zi[data-zy][data-form="jieyin"][data-tone][data-tone="0"]:before,
span.han-js-zhuyin-rendered span.zi[data-zy][data-form="yunmu"][data-tone][data-tone="0"]:before {
  margin-top: .3em;
}

span.han-js-zhuyin-rendered span.zi[data-zy][data-form="shengmu-jieyin-yunmu"][data-tone="0"]:before {
  margin-top: -.5em;
}
