html {
    background-color: #cfc;
    font-family: "Myriad Pro", "Lucida Grande", Helvetica, Veranda, sans-serif;
}

html.msie {  overflow-x: hidden;  }

a:link {  color: #0645ad;  }
a:visited {  color: #0645ad;  }
a:hover {  color: #04317c;  }
a:active {  color: #faa700;  }


code {  font-family: Courier, monospace, sans-serif;  }

p code {
    background-color: #cfc;
    color: #070;
    display: inline-block;
    font-size: .9em;
    margin: -0.01em .1em 0;
    padding: 0 2px;
}

h2 code, h3 code, h4 code {  font-weight: normal;  }



/* fixed radius block */
body.wrapped {
    left: 3%;
    position: absolute;
    width: 95%;
    z-index: 1;
}

html:not(msie) body.wrapped > * {
    margin: 0 20px;
    position: relative;
    z-index: 2;
}

html:not(msie) body.wrapped:before,
html:not(msie) body.wrapped:after {
    background-color: #cfc;
    border-bottom: 7px solid #cec;
    bottom: 87%;
    content: "";
    display: block;
    height: 13%;
    left: 3%;
    margin: 0 0 7px -5px;
    position: fixed;
    width: 94%;
    z-index: 3;
}

html:not(msie) body.wrapped:after {
    border-top: 7px solid #cec;
    bottom: -14px;
    height: 5%;
}

html:not(msie) footer {
    z-index: 0 !important;
}

html:not(msie) footer:before {
    background-color: #fff;
    border: 7px solid #cec;
    border-radius: 15px;
    bottom: 5%;
    content: "";
    display: block;
    height: 82%;
    right: 2%;
    margin: 0;
    position: fixed;
    width: 95%;
    z-index: 1;
}

html:not(msie) article:before,
html:not(msie) nav#sidebar:before {
    content: "";
    display: block;
    margin-bottom: 8em;
    position: relative;
}

.msie article {
    background-color: #fff;
    border: 7px solid #cec;
    margin-top: 90px;
    padding: 7px;
}



/* header */
header {
    margin: 0;
    position: fixed !important;
    top: 15px;
    z-index: 5 !important;
}

header h1 {
    font-family: "Bell MT", Georgia, "Times New Roman",
        "Hiragino Mincho Pro", serif;
    font-size: 1.7em;
    letter-spacing: .1em;
    margin: -3px 0 .35em;
    text-shadow: #fff 1px 1px;
}

header h1 a:link,
header h1 a:visited {  color: #058455;  }
header h1 a:hover {  color: #069460;  }
header h1 a:active {  color: #035335;  }


header h1 + p.des {
    color: #daac00;
    font-family: BookAntiqua, "Book Antiqua", Georgia, "Times New Roman",
        "Hiragino Mincho Pro", serif;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: .03em;
    margin: 0;
}

.win header h1,
.win p.des {
	font-family: Arial, "Arial Unicode MS", sans-serif;
}


/* sidebar */
nav#sidebar {
    font-size: 1.1em;
    left: 4%;
    padding: 5px 0;
    position: fixed;
    top: -20px;
    width: 23%;
        min-width: 250px;
}

nav#sidebar ul {  list-style: none;  padding: 0;  }
nav#sidebar li {  margin: 0;  padding: 0;  }
nav#sidebar ul ol {  list-style: none;  padding: 0;  }

nav#sidebar li a {
    background-color: #7addd1;
    border-bottom: 1px solid #fff;
    color: #0b6a0b;
    display: block;
    letter-spacing: .3em;
    margin: 0;
    padding: 3px 10px;
}


nav#sidebar ul ol a {
    background-color: #bff8bf;
    color: #109810;
    font-size: .8em;
    letter-spacing: .1em;
    padding: 5px 1.5em;
}

nav#sidebar li a:hover {  background-color: #faed52;  color: #000;  }
nav#sidebar ul ol a:hover {  background-color: #a1f5a1;  color: #109810;  }

.msie nav#sidebar {
    left: 3%;
    top: 70px;
}



/*article */
article {
    font-family: "Times New Roman", serif;
    margin: 10px 0 100px 33% !important;
    width: 65%;
}

html:not(.webkit) article {
    font-family: "Times New Roman", serif, /**/STSong, "LiSong Pro", LiSongPro;
    text-align: justify;
}

html.msie:lang(zh-hant-TW) article {
    font-family: "Times New Roman", "新細明體", PMingLiu, serif;
    text-align: justify;
}

article h2 {  border-bottom: 1px solid #ccc;  padding-bottom: .125em;  }
article h4 {  margin-bottom: -.3em;  text-indent: 2em;  }
article section {  margin: 2.5em 0 2em;  }

blockquote.example.code {
    background-color: #ddd;
    border-left: 5px solid #ccc;
    color: #6b5438;
    font-size: .9em;
    line-height: 1.5;
    padding: 7px;
}

blockquote p.cite {
    text-align: right;
}

blockquote p.cite:before {
    content: "——";
    font-family: serif;
    padding-right: .125em;
}

.webkit blockquote p.cite:before {
    letter-spacing: -.25em;
    padding-right: .3em;
}

.large {  font-size: 1.55em;  }
.larger {  font-size: 1.75em;  }


ol.sections-menu {
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: .9em;
    margin-left: 3em;
    padding: 10px 20px 10px 3em;
    width: 230px;
}

ol.reference li {  padding: 0 2px;  }


/* :target */
h2:target {  margin-top: -4em;  padding-top: 4em;  }
h3:target, h4:target {  margin-top: -5em;  padding-top: 5em;  }
sup a:target {  margin-top: -6em;  padding-top: 6em;  }

ol.reference li:target {
    background-color: #fef9c6;
    font-weight: bold;
}


