@charset 'utf-8';

/* 
 * 漢字標準格式 v2.1.0
 * ---
 * Hanzi-optimised CSS Mode
 *
 *
 *
 * Lisence: MIT Lisence
 * Last Modified: 2013/10/5
 *
 */



/* 
 *
 * 滙入所有需要的檔案

   ---------------------------------------
   全域適用的CSS reset（normalize.css）
   ---------------------------------------
   * 原作者：Nicolas Gallagher
   --------------------------------------- */

@import url('./normalize.css');


/* ---------------------------------------
   @font-face字體設定
   --------------------------------------- */

@import 'han/ff';


/* ---------------------------------------
   漢字標準格式
   ---------------------------------------
   * 以語言為基礎的元素樣式修正
   * 僅含字體族（generic family）修正，標點及
     瀏覽器字體修正包含於下列「字體設定」檔案。
   --------------------------------------- */

@import 'han/main';


/* ---------------------------------------
   字體設定
   ---------------------------------------
   * 主要元素的字體及字體集改進
   * 含標點符號修正
   * 需置於「主要元素樣式修正」後，方能正確顯示
   --------------------------------------- */

@import 'han/fonts';


/* ---------------------------------------
   <ruby>的注音符號功能
   ---------------------------------------
   * 若要開啓，請將65行的註解格式去除
   --------------------------------------- */

/* @import url('./han.zhuyin.css'); */



