
char[display-as]
  position: relative
  display: inline-block

  inner
    display: inline-block
    color: transparent

  &:after
    position: absolute
    left: 0

    content: attr( display-as )
    display: inline-block

  &.comb-liga:after
    font-family: 'Romanization Sans', 'Zhuyin Kaiti'
