doctype html
html(lang='zh-Hant').han-init
  head
    meta(charset='utf-8')
    title 測試・標點擠壓及懸掛 — 漢字標準格式
    link(rel='stylesheet', href='./han.min.css')

    style.
      html {
        /* box */
        overflow-x: hidden;
        padding: 0 1.5em;
      }

      article {
        /* position */
        margin: 0 auto;

        /* box */
        max-width: 35em;
        padding: 0 0 15em;

        /* style */
        border-right: 1px solid #ccc;
      }

      section.narrow {
        /* box */
        width: 19em;

        /* style */
        border-right: 1px solid #ccc;
      }
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='印刷品般的漢字網頁排版框架')
    meta(name='keywords' content='漢字標準格式, 中文, 排版, 排版規範, 日文, 字體排印, 文字設計, CLReq, CSS, Sass, typography')
  body.test

    article
      h1 測試·標點擠壓及懸掛
      p <strong>提示：</strong>調整瀏覽器視窗寬度來觀看各種標點在行間的擠壓及懸掛行為。


      section(lang='zh-Hant')
        h2 繁體中文標點
        p 點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。
        p 「標」、「『標』」，《標》、〈標〉。「標」、「『標』」，《標》、〈標〉。「標」、「『標』」，《標》、〈標〉。「標」、「『標』」，《標》、〈標〉。「標」、「『標』」，《標》、〈標〉。「標」、「『標』」，《標》、〈標〉。
        p 「標」點、「『標』」點，《標》點、（標）點。「標」點、「『標』」點，《標》點、（標）點。「標」點、「『標』」點，《標》點、（標）點。「標」點、「『標』」點，《標》點、（標）點。「標」點、「『標』」點，《標》點、（標）點。
        p Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。
        p 「Biao」Dian，「〔Biao〕」Dian，［Biao］。「Biao」Dian，「〔Biao〕」Dian，［Biao］。「Biao」Dian，「〔Biao〕」Dian，［Biao］。
        section.narrow
          p 「我」一直認為，沒有人可以「如此」放肆。你說是吧！
          p 請你們好好地、告訴我這是怎麼一回事⋯⋯。
          p 仔細把我們的示例看清楚了，這是一種點號、「開引號」的組合也可以標點懸掛的概念。

        p 「何謂『標點擠壓』？」
        p 何謂「標點『擠壓』」呢？
        p 讓我來告訴你何謂「『標點』擠壓」。
        p 讓我來告訴你何謂「『標點』擠壓。」
        p 「就這樣，我、『那個人』和他們戰鬥了數個鐘頭，（最後）沒輸沒贏……『那個人』逃之夭夭。」
        p 輕聲叨唸道——「好的……」
        p 「好」「不好」
        p 「好」·「不好」「好」・「不好」「好」、「不好」
        p 「『好』·不好」「『好』・不好」「『好』、不好」
        p 「好·『不好』」「好、『不好』」
        p 《書名》〈篇名〉（內容）
        p: em 《書名》〈篇名〉（內容）「『好』、不好」
      section(lang='zh-Hans')
        h2 简体中文标点
        p 点、点，点。点、点，点。点、点，点。点、点，点。点、点，点。点、点，点。点、点，点。点、点，点。点、点，点。点、点，点。点、点，点。
        p 「标」、「『标』」，《标》、〈标〉。「标」、「『标』」，《标》、〈标〉。「标」、「『标』」，《标》、〈标〉。「标」、「『标』」，《标》、〈标〉。「标」、「『标』」，《标》、〈标〉。「标」、「『标』」，《标》、〈标〉。
        p 「标」点、「『标』」点，《标》点、（标）点。「标」点、「『标』」点，《标》点、（标）点。「标」点、「『标』」点，《标》点、（标）点。「标」点、「『标』」点，《标》点、（标）点。「标」点、「『标』」点，《标》点、（标）点。
        p Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。
        p 「Biao」Dian，「〔Biao〕」Dian，［Biao］。「Biao」Dian，「〔Biao〕」Dian，［Biao］。「Biao」Dian，「〔Biao〕」Dian，［Biao］。
        section.narrow
          p 「我」一直认为，没有人可以「如此」放肆。你说是吧！
          p 请你们好好地、告诉我这是怎么一回事……。
          p 仔细把我们的示例看清楚了，这是一种点号、「开引号」的组合也可以标点悬挂的概念。

        p 「何谓『标点挤压』？」
        p 何谓「标点『挤压』」呢？
        p 让我来告诉你何谓「『标点』挤压」。
        p 让我来告诉你何谓「『标点』挤压。」
        p 「就这样，我、『那个人』和他们战斗了数个钟头，（最后）没输没赢……『那个人』逃之夭夭。」
        p 轻声叨念道——「好的……」
        p 「好」「不好」
        p 「好」·「不好」「好」・「不好」「好」、「不好」
        p 「『好』·不好」「『好』・不好」「『好』、不好」
        p 「好·『不好』」「好、『不好』」
        p 《书名》〈篇名〉（内容）
        p: em 《书名》〈篇名〉（内容）「『好』、不好」

      section(lang='ja')
        h2 日文標點
        p 點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。點、點，點。
        p 「標」、「『標』」，《標》、〈標〉。「標」、「『標』」，《標》、〈標〉。「標」、「『標』」，《標》、〈標〉。「標」、「『標』」，《標》、〈標〉。「標」、「『標』」，《標》、〈標〉。「標」、「『標』」，《標》、〈標〉。
        p 「標」點、「『標』」點，《標》點、（標）點。「標」點、「『標』」點，《標》點、（標）點。「標」點、「『標』」點，《標》點、（標）點。「標」點、「『標』」點，《標》點、（標）點。「標」點、「『標』」點，《標》點、（標）點。
        p Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。Dian、Dian，Dian。
        p 「Biao」Dian，「〔Biao〕」Dian，［Biao］。「Biao」Dian，「〔Biao〕」Dian，［Biao］。「Biao」Dian，「〔Biao〕」Dian，［Biao］。
        section.narrow
          p 「我」一直認為，沒有人可以「如此」放肆。你說是吧！
          p 請你們好好地、告訴我這是怎麼一回事⋯⋯。
          p 仔細把我們的示例看清楚了，這是一種點號、「開引號」的組合也可以標點懸掛的概念。

        p 「何謂『標點擠壓』？」
        p 何謂「標點『擠壓』」呢？
        p 讓我來告訴你何謂「『標點』擠壓」。
        p 讓我來告訴你何謂「『標點』擠壓。」
        p 「就這樣，我、『那個人』和他們戰鬥了數個鐘頭，（最後）沒輸沒贏……『那個人』逃之夭夭。」
        p 輕聲叨唸道——「好的……」
        p 「好」「不好」
        p 「好」·「不好」「好」・「不好」「好」、「不好」
        p 「『好』·不好」「『好』・不好」「『好』、不好」
        p 「好·『不好』」「好、『不好』」
        p 《書名》〈篇名〉（內容）
        p: em 《書名》〈篇名〉（內容）「『好』、不好」

    script(src='./han.min.js')
