doctype html
html(lang='zh-Hant')
  head
    meta(charset='utf-8')
    title 測試・行間注元素 — 漢字標準格式
    link(rel='stylesheet', href='../han.css')

    style.
      html {
        overflow-x: hidden;
      }

      article {
        /* position */
        margin: 0 auto;

        /* box */
        max-width: 35em;
        padding: 0 .5em 15em;
      }
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='印刷品般的漢字網頁排版框架')
    meta(name='keywords' content='漢字標準格式, 中文, 排版, 排版規範, 日文, 字體排印, 文字設計, CLReq, CSS, Sass, typography')

  body.test

    article
      h1 測試·行間注元素
      section(id='jiben_hangjianzhu')
        h2 基本行間注
        p: ruby
          | WWW<rt>World Wide Web
        p: ruby
          | 安倍晋三<rt>日本內閣總理大臣

        section#pinyin
          h3 拼音
          p: ruby
              | 世情<rt>shìqíng</rt>
              | 看<rt>kàn</rt>
              | 冷暖<rt>lěngnuǎn</rt>，<rt></rt>
              | 人面<rt>rénmiàn</rt>
              | 逐<rt>zhú</rt>
              | 高低<rt>gāodī</rt>。<rt></rt>
        section#zhuyin_fuhao
          h3 注音符號
          p: ruby.zhuyin
              | 事<rt>ㄕˋ</rt>情<rt>ㄑㄧㄥˊ</rt>
              | 看<rt>ㄎㄢˋ</rt>
              | 冷<rt>ㄌㄥˇ</rt>暖<rt>ㄋㄨㄢˇ</rt>，<rt></rt>
              | 人<rt>ㄖㄣˊ</rt>面<rt>ㄇㄧㄢˋ</rt>
              | 逐<rt>ㄓㄨˊ</rt>
              | 高<rt>ㄍㄠ</rt>
              | 低<rt>ㄉㄧ</rt>。
      section#fuheshi_hangjianzhu
        h2 複合式行間注
        p: ruby.complex
          | 辛亥革命發生在
          rb 1911-
          rb 10-
          rb 10，
          rtc
            rt 年
            rt 月
            rt 日
          rtc: rt(rbspan='3') 清宣統三年
          | 那天革命先烈們一同推翻了帝制。
        p
          ruby.complex
            | 「
            rb 紐
            rb 約
            rb 市
            | 」
            rtc.reading.romanization(lang='cmn-Latn')
              rt(rbspan='2') Niǔyuē
              rt Shì
            rtc.reading.annotation
              rt(rbspan='3') New York City
          ruby.complex
            | 『
            rb 紐
            rb 約
            rb 市
            | 』
            rtc.reading.annotation(lang='en')
              rt(rbspan='3') New York City
            rtc.reading.romanization(lang='cmn-Latn')
              rt(rbspan='2') Niǔyuē
              rt Shì
          ruby.complex
            | ‘
            rb 紐
            rb 約
            rb 市
            | ’
            rtc.reading.annotation(lang='en')
              rt(rbspan='3') New York City
            rtc.reading.romanization(lang='cmn-Latn')
              rt niǔ
              rt yuē
              rt shì
          ruby.complex
            | &#x201E;
            rb 紐
            rb 約
            rb 市
            | &#x201F;
            rtc.reading.romanization(lang='cmn-Latn')
              rt niǔ
              rt yuē
              rt shì
            rtc.reading.annotation(lang='en')
              rt(rbspan='3') New York City
          ruby.complex
            | ⸘
            rb 紐
            rb 約
            rb 市
            | ‽
            rtc.reading.annotation(lang='en')
              rt(lang='en' rbspan='3') New York City
            rtc.reading.annotation
              rt(rbspan='3') 世界之都

        section#zhijiao_gongtong_xianshi
          h3 直角共同顯示
          p(lang='zh-nan-Hant')
            | 共我講，
            ruby.rightangle
              | <rb>你</rb><!--
              | --><rb>敢</rb><rb>有</rb><!--
              | --><rb>聽</rb><rb>著</rb><!--
              | --><rb>咱</rb><rb>的</rb><!--
              | --><rb>歌</rb>？

              rtc.romanization(lang='nan-Latn')
                  rt Lí
                  rt(rbspan='2') kám-ū
                  rt(rbspan='2') thiann-tio̍h
                  rt(rbspan='2') lán-ê
                  rt kua
              rtc.zhuyin
                  rt ㄌㄧˋ
                  rt ㄍㆰˋ
                  rt ㄨ˫
                  rt ㄊㄧㆩ
                  rt ㄉㄧㄜㆷ̍
                  rt ㄌㄢˋ
                  rt ㆤˊ
                  rt ㄍㄨㄚ
              | 有無？
            ruby.rightangle
              | <rb>你</rb><!--
              | --><rb>敢</rb><rb>有</rb><!--
              | --><rb>聽</rb><rb>著</rb><!--
              | --><rb>咱</rb><rb>的</rb><!--
              | --><rb>歌</rb>？

              rtc.romanization(lang='nan-Latn')
                  rt Lí
                  rt(rbspan='2') kám-ū
                  rt(rbspan='2') thiann-tio̍h
                  rt(rbspan='2') lán-ê
                  rt kua
              rtc.zhuyin
                  rt ㄌㄧˋ
                  rt ㄍㆰˋ
                  rt ㄨ˫
                  rt ㄊㄧㆩ
                  rt ㄉㄧㄜㆷ̍
                  rt ㄌㄢˋ
                  rt ㆤˊ
                  rt ㄍㄨㄚ
              | 有無？
            ruby.rightangle
              | <rb>你</rb><!--
              | --><rb>敢</rb><rb>有</rb><!--
              | --><rb>聽</rb><rb>著</rb><!--
              | --><rb>咱</rb><rb>的</rb><!--
              | --><rb>歌</rb>？

              rtc.romanization(lang='nan-Latn')
                  rt Lí
                  rt(rbspan='2') kám-ū
                  rt(rbspan='2') thiann-tio̍h
                  rt(rbspan='2') lán-ê
                  rt kua
              rtc.zhuyin
                  rt ㄌㄧˋ
                  rt ㄍㆰˋ
                  rt ㄨ˫
                  rt ㄊㄧㆩ
                  rt ㄉㄧㄜㆷ̍
                  rt ㄌㄢˋ
                  rt ㆤˊ
                  rt ㄍㄨㄚ
              | 有無？
    //
      section#biaodian_jinze
        h2 標點禁則
        p: ruby
          | 我<rt>wo</rt>
          | 「<rt></rt>不敢<rt>bugan</rt>」<rt></rt>
          | 相信<rt>xiangxin</rt>
          | ！<rt></rt>

    // script goes below
    script(src='../js/lib/require.js' data-main='../js/han')
