
/**
 * The Four Typefaces: Heiti
 *  四大字體集・黑體
 */

// * 1. Recommended
// * 2. CNS (適用台灣的舊字形或國字標準字形字體)
// * 3. GB (中國國標)

// 1
@font-face {
  font-family: 'Han Heiti';
  src:
    local('Hiragino Sans GB'),

    local('Lantinghei TC'),
    local('Lantinghei SC'),

    local('Heiti SC'),
    local('Heiti TC'),

    local('Microsoft Yahei'),
    local('Microsoft Jhenghei'),

    local('Droid Sans Fallback')
  ;
}

@font-face {
  @include han-range-cjk;
  font-family: 'Han Heiti';
  src:
    local(YuGothic),
    local('Hiragino Kaku Gothic ProN'),
    local('Hiragino Kaku Gothic Pro');
}

// 2
@font-face {
  font-family: 'Han Heiti CNS';
  src:
    local('Hiragino Sans GB'),

    local('Lantinghei TC'),
    local('Heiti TC'),
    local('Microsoft Jhenghei'),

    local('Heiti SC'),
    local('Lantinghei SC'),
    local('Microsoft Yahei'),

    local('Droid Sans Fallback')
  ;
}

@font-face {
  @include han-range-cjk;
  font-family: 'Han Heiti CNS';
  src:
    local(YuGothic),
    local('Hiragino Kaku Gothic ProN'),
    local('Hiragino Kaku Gothic Pro')
  ;
}

// 3
@font-face {
  font-family: 'Han Heiti GB';
  src:
    local('Hiragino Sans GB'),
    local('Lantinghei SC'),
    local('Heiti SC'),

    local('Microsoft Yahei'),

    local('Droid Sans Fallback')
  ;
}

/* Bold
 */
@font-face {
  font-family: 'Han Heiti';
  font-weight: 600;
  src:
    local('Hiragino Sans GB W6'),
    local(HiraginoSansGB-W6),

    local('Lantinghei TC Demibold'),
    local('Lantinghei SC Demibold'),
    local(FZLTXHB--B51-0),
    local(FZLTZHK--GBK1-0),

    local('Heiti SC Medium'),
    local('Heiti TC Medium'),
    local(STHeitiSC-Medium),
    local(STHeitiTC-Medium),

    local('Microsoft YaHei Bold'),
    local('Microsoft Jhenghei Bold'),
    local(MicrosoftYaHei-Bold),
    local(MicrosoftJhengHeiBold)
  ;
}

@font-face {
  @include han-range-cjk;
  font-family: 'Han Heiti';
  font-weight: 600;
  src:
    local('YuGothic Bold'),
    local('Hiragino Kaku Gothic ProN W6'),
    local('Hiragino Kaku Gothic Pro W6'),
    local(YuGo-Bold),
    local(HiraKakuProN-W6),
    local(HiraKakuPro-W6)
  ;
}

// 2
@font-face {
  font-family: 'Han Heiti CNS';
  font-weight: 600;
  src:
    local('Hiragino Sans GB W6'),
    local(HiraginoSansGB-W6),

    local('Lantinghei TC Demibold'),
    local('Heiti TC Medium'),
    local('Microsoft Jhenghei Bold'),
    local(FZLTXHB--B51-0),
    local(STHeitiTC-Medium),
    local(MicrosoftJhengHeiBold),

    local('Lantinghei SC Demibold'),
    local('Microsoft YaHei Bold'),
    local('Heiti SC Medium'),
    local(FZLTZHK--GBK1-0),
    local(STHeitiSC-Medium),
    local(MicrosoftYaHei-Bold)
  ;
}

@font-face {
  @include han-range-cjk;
  font-family: 'Han Heiti CNS';
  font-weight: 600;
  src:
    local('YuGothic Bold'),
    local(YuGo-Bold),
    local('Hiragino Kaku Gothic ProN W6'),
    local('Hiragino Kaku Gothic Pro W6'),
    local(HiraKakuProN-W6),
    local(HiraKakuPro-W6)
  ;
}

// 3
@font-face {
  font-family: 'Han Heiti GB';
  font-weight: 600;
  src:
    local('Hiragino Sans GB W6'),
    local(HiraginoSansGB-W6),

    local('Lantinghei SC Demibold'),
    local('Microsoft YaHei Bold'),
    local('Heiti SC Medium'),
    local(FZLTZHK--GBK1-0),
    local(STHeitiSC-Medium),
    local(MicrosoftYaHei-Bold)
  ;
}

/* Address solution to `unicode-range` unsupported
 * issues in Firefox
 */
@font-face {
  font-family: 'Han Heiti';
  src:
    local('Hiragino Sans GB'),

    local('Lantinghei TC'),
    local('Lantinghei SC'),

    local('Heiti SC'),
    local('Heiti TC'),

    local('Microsoft Yahei'),
    local('Microsoft Jhenghei'),

    local('Droid Sans Fallback')
  ;
  unicode-range: U+"+270C";
}

@font-face {
  font-family: 'Han Heiti';
  font-weight: 600;
  src:
    local('Hiragino Sans GB W6'),
    local(HiraginoSansGB-W6),

    local('Lantinghei TC Demibold'),
    local('Lantinghei SC Demibold'),
    local(FZLTXHB--B51-0),
    local(FZLTZHK--GBK1-0),

    local('Heiti SC Medium'),
    local('Heiti TC Medium'),
    local(STHeitiSC-Medium),
    local(STHeitiTC-Medium),

    local('Microsoft YaHei Bold'),
    local('Microsoft Jhenghei Bold'),
    local(MicrosoftYaHei-Bold),
    local(MicrosoftJhengHeiBold)
  ;
  unicode-range: U+"+270C";
}

// 2
@font-face {
  font-family: 'Han Heiti CNS';
  src:
    local('Hiragino Sans GB'),

    local('Lantinghei TC'),
    local('Heiti TC'),
    local('Microsoft Jhenghei'),

    local('Heiti SC'),
    local('Lantinghei SC'),
    local('Microsoft Yahei'),

    local('Droid Sans Fallback')
  ;
  unicode-range: U+"+270C";
}

@font-face {
  font-family: 'Han Heiti CNS';
  font-weight: 600;
  src:
    local('Hiragino Sans GB W6'),
    local(HiraginoSansGB-W6),

    local('Lantinghei TC Demibold'),
    local('Heiti TC Medium'),
    local('Microsoft Jhenghei Bold'),
    local(FZLTXHB--B51-0),
    local(STHeitiTC-Medium),
    local(MicrosoftJhengHeiBold),

    local('Lantinghei SC Demibold'),
    local('Heiti SC Medium'),
    local('Microsoft YaHei Bold'),
    local(FZLTZHK--GBK1-0),
    local(STHeitiSC-Medium),
    local(MicrosoftYaHei-Bold)
  ;
  unicode-range: U+"+270C";
}

// 3
@font-face {
  font-family: 'Han Heiti GB';
  src:
    local('Hiragino Sans GB'),
    local('Lantinghei SC'),
    local('Heiti SC'),

    local('Microsoft Yahei'),

    local('Droid Sans Fallback')
  ;
   unicode-range: U+"+270C";
}
