

/**
 * 四大字體集・仿宋體
 * The Four Typefaces: Fangsong
 */

@font-face {
    @include _range-CJK;
    font-family: 'Han Fangsong';
    src: local(STFangsong),
         local(FangSong);
}

// Han FangSong CNS
@font-face {
    @include _range-CJK;
    font-family: 'Han Fangsong CNS';
    src: local(STFangsong),
         local(FangSong);
}

// Han FangSong GB
@font-face {
    @include _range-CJK;
    font-family: 'Han Fangsong GB';
    src: local(STFangsong),
         local(FangSong);
}



















