

/* ---------------------------------------
   四大字體集・楷體
   ---
   The Four Typefaces: Kaiti (Cursive)
   --------------------------------------- */

@font-face {
    font-family: 'Han Kaiti';
    src: local(STKaiti),

         local('標楷體'),
         local(DFKaiShu-SB-Estd-BF),

         local(Kaiti),
         local(DFKai-SB);
}



@font-face {
    font-family: 'Han Kaiti CNS'; 
                 /* 中華民國國家標準楷體 */
    src: local('標楷體'),
         local(DFKaiShu-SB-Estd-BF);
}





@font-face {
    font-family: 'Han Kaiti GB';
                 /* 中國國家標準楷體 */
    src: local(STKaiti), 
         local(Kai),
         local(Kaiti),
         local(DFKai-SB);
}



/* ----------------------------------------- 
 * 解決IE的字體fallback問題
 * Solution to IE font fallback issue
 * ----------------------------------------- */

@font-face {
    font-family: 'Han Kaiti';
    src: local('標楷體') /* 2, 4 */, local(DFKaiShu-SB-Estd-BF) /* 3 */,
        local(Kaiti), local(DFKai-SB);
    unicode-range: U+4E00 /* 6 */;
}

@font-face {
    font-family: 'Han Kaiti CNS';
    src: local('標楷體'), local(DFKaiShu-SB-Estd-BF);
    unicode-range: U+4E00 /* 6 */;
}

@font-face {
    font-family: 'Han Kaiti GB';
    src: local(Kaiti), local(DFKai-SB) /* 2 */;
    unicode-range: U+4E00 /* 6 */;
}


/* ----------------------------------------- 
 * 解決Firefox不支援`unicode-range`的問題
 * Solution to Firefox's `unicode-range`
 * issue
 * ----------------------------------------- */

@font-face {
    font-family: 'Han Kaiti';
    src: local(STKaiti) /* 1 */, local('標楷體') /* 2, 4 */, local(DFKaiShu-SB-Estd-BF) /* 3 */,
        local(Kaiti), local(DFKai-SB);
    unicode-range: U+270C /* 4 */;
}


@font-face {
    font-family: 'Han Kaiti CNS';
    src: local('標楷體'), local(DFKaiShu-SB-Estd-BF);
    unicode-range: U+270C /* 4 */;
}


@font-face {
    font-family: 'Han Kaiti GB';
    src: local(STKaiti) /* 1 */, local(Kai) /* 3 */, local(Kaiti), local(DFKai-SB) /* 2 */;
    unicode-range: U+270C /* 4 */;
}



















