

/**
 * 文本數字
 * Text figures
 */

@font-face {
    @include _range-numeral;
    font-family: 'Numeral TF Sans';
    src:
        local(Skia),
        local('Neutraface 2 Text'),
        local(Candara),
        local(Corbel);
}

@font-face {
    @include _range-numeral;
    font-family: 'Numeral TF Serif';
    src:
        local(Georgia),
        local('Hoefler Text'),
        local('Big Caslon');
}

/**
 * 等高數字
 * Lining figures
 */

@font-face {
    @include _range-numeral;
    font-family: 'Numeral LF Sans';
    src:
        local('Helvetica Neue'),
        local(Helvetica),
        local(Arial);
}

@font-face {
    @include _range-numeral;
    font-family: 'Numeral LF Serif';
    src:
        local(Palatino),
        local('Palatino Linotype'),
        local('Times New Roman');
}

// **
// * 解決Firefox不支援`unicode-range`及粗體調用問題
// * Solution to Firefox's `unicode-range`
// * and bold font issues
// *

@font-face {
    font-family: 'Numeral TF Sans';
    src: local('Lying to Firefox');
    unicode-range: U+270C;
}

@font-face {
    font-family: 'Numeral TF Serif';
    src: local('Lying to Firefox');
    unicode-range: U+270C;
}

@font-face {
    font-family: 'Numeral LF Sans';
    src: local('Lying to Firefox');
    unicode-range: U+270C;
}

@font-face {
    font-family: 'Numeral LF Serif';
    src: local('Lying to Firefox');
    unicode-range: U+270C;
}



















