
%mre-cursive {
  font-family:
    $mre-serif,
    mre-typeface( 'Han Kaiti', $_default-variant, $mre-cursive-zh ),
    cursive, serif
  ;
}

%mre-cursive-hant {
  font-family:
    mre-biaodian( Serif, $mre-biaodian-hant ),
    'Numeral LF Serif',
    $mre-serif,
    mre-typeface( 'Han Kaiti', $mre-glyph-set-hant, $mre-cursive-zh ),
    cursive, serif
  ;
}

%mre-cursive-hans {
  font-family:
    mre-biaodian( Serif, $mre-biaodian-hans ),
    'Numeral LF Serif',
    $mre-serif,
    mre-typeface( 'Han Kaiti', $mre-glyph-set-hans, $mre-cursive-zh ),
    cursive, serif
  ;
}

%mre-cursive-ja {
  font-family:
    'Yakumono Serif',
    'Numeral LF Serif',
    $mre-serif,
    cursive, serif
  ;
}

/**
 * Cursive Italic
 */
%mre-cursive-italic {
  font-family:
    'Latin Italic Serif',
    mre-typeface( 'Han Kaiti', $_default-variant, $mre-cursive-zh ),
    cursive, serif
  ;
}

%mre-cursive-italic-hant {
  font-family:
    mre-biaodian( Serif, $mre-biaodian-hant ),
    'Numeral LF Italic Serif',
    'Latin Italic Serif',
    mre-typeface( 'Han Kaiti', $mre-glyph-set-hant, $mre-cursive-zh ),
    cursive, serif
  ;
}

%mre-cursive-italic-hans {
  font-family:
    mre-biaodian( Serif, $mre-biaodian-hans ),
    'Numeral LF Italic Serif',
    'Latin Italic Serif',
    mre-typeface( 'Han Kaiti', $mre-glyph-set-hans, $mre-cursive-zh ),
    cursive, serif
  ;
}

%mre-cursive-italic-ja {
  font-family:
    'Yakumono Serif',
    'Numeral LF Italic Serif',
    'Latin Italic Serif',
    cursive, serif
  ;
}
