
%mre-mono {
  font-family:
    $mre-mono,
    $han-mono-zh,
    mre-typeface( 'Han Heiti', $_default-variant ),
    monospace, monospace, sans-serif
  ;
}

%mre-mono-hant {
  font-family:
    mre-biaodian( Sans, $mre-biaodian-set-hant ),
    $mre-mono,
    $han-mono-zh,
    mre-typeface( 'Han Heiti', $mre-glyph-set-hant ),
    monospace, monospace, sans-serif
  ;
}

%mre-mono-hans {
  font-family:
    mre-biaodian( Sans, $mre-biaodian-set-hans ),
    $mre-mono,
    $han-mono-zh,
    mre-typeface( 'Han Heiti', $mre-glyph-set-hans ),
    monospace, monospace, sans-serif
  ;
}

%mre-mono-ja {
  font-family:
    'Yakumono Sans',
    $mre-mono,
    monospace, monospace, sans-serif
  ;
}
