
%mre-sans {
  font-family:
    $mre-sans,
    $han-sans-zh,
    mre-typeface( 'Han Heiti', $_default-variant ),
    sans-serif
  ;
}

%mre-sans-hant {
  font-family:
    mre-biaodian( Sans, $mre-biaodian-hant ),
    //'Numeral LF Sans',
    $mre-sans,
    $han-sans-zh,
    mre-typeface( 'Han Heiti', $mre-glyph-set-hant ),
    sans-serif
  ;
}

%mre-sans-hans {
  font-family:
    mre-biaodian( Sans, $mre-biaodian-hans ),
    //'Numeral LF Sans',
    $mre-sans,
    $han-sans-zh,
    mre-typeface( 'Han Heiti', $mre-glyph-set-hans ),
    sans-serif
  ;
}

%mre-sans-ja {
  font-family:
    'Yakumono Sans',
    //'Numeral LF Sans',
    $mre-sans,
    sans-serif
  ;
}
