// **
// * Import Han module
// *
@import "../src/sass/han";

// **
// * Customise emphasis marks
// *
em.above {
  @include han-text-emphasis(over);
}

em.sesame {
  @include han-text-emphasis(under, sesame, open, inherit, true, false);
}

em.above-dc {
  @include han-text-emphasis(over, double-circle, open, inherit, true, false);
}

em.rebecca {
  @include han-text-emphasis(under, triangle, filled, #663399, true, false);
}

em.no-skip {
  @include han-text-emphasis(under, circle, open, red, false, false);
}

