
$_default-variant: $mre-glyph-set-hant

@if ( $mre-default-variant == hans )
  $_default-variant: $mre-glyph-set-hans

// **
// * Functions
// *
@function mre-biaodian( $generic: Sans, $set: default )
  @if ( $set == default )
    $set: ''
  @else
    $set: $set + ' '
  @return 'Biaodian ' + $set + $generic

@function mre-typeface( $typeface: sans, $set: default )
  @if ( $set == default )
    $set: ''
  @else
    $set: ' ' + $set
  @return $typeface + $set

@import extend/sans
@import extend/serif
@import extend/cursive
@import extend/mono

%mre-ligature
  -moz-font-feature-settings: 'liga, dlig'
  -ms-font-feature-settings: 'liga', 'dlig'
  -webkit-font-feature-settings: 'liga', 'dlig'
  font-feature-settings: 'liga', 'dlig'
