
@import '..'

.sans
  han-typeface-by-lang( sans )

.sans-italic
  han-typeface-by-lang( sans-italic )

.mono
  han-typeface-by-lang( mono )

.serif
  han-typeface-by-lang( serif )

.cursive
  han-typeface-by-lang( cursive )

.cursive-italic
  han-typeface-by-lang( cursive-italic )

