
/**
 * CJK Biaodian compression (CJK標點擠壓)
 */
h-cs,
h-cs[hidden]
  // box
  display: none
  visibility: hidden
  // typography
  font: .825em Courier
  letter-spacing: 0
  white-space: normal

h-cs.jinze-outer,
h-cs.jinze-outer[hidden]
  display: inline

// * Handle line start/end Biaodian (行首行尾標點擠壓)
// *
h-char.biaodian
  &.bd-open > h-inner
    margin-left: -.5em

  &.bd-close,
  &[unicode='3001'],
  &[unicode='3002'],
  &[unicode='ff0c'],
  &[unicode='ff0e']
    > h-inner
      letter-spacing: -.5em

  &.bd-open,
  &.bd-close,
  &[unicode='3001'],
  &[unicode='3002'],
  &[unicode='ff0c'],
  &[unicode='ff0e']
    > h-cs
      display: inline

  &[unicode='3001'],
  &[unicode='3002'],
  &[unicode='ff0c'],
  &[unicode='ff0e']
    &:lang(zh-Hant),
    &:lang(zh-TW),
    &:lang(zh-HK)
      > h-cs
        display: none
      > h-inner
        letter-spacing: inherit

// * Handle consecutive Biaodian (連續標點擠壓)
// *
h-char.consecutive-bd
  // * Basic situation
  // *
  &.bd-end:not(.end-portion) h-cs,
  &[prev='bd-open'].bd-open h-cs,
  /h-cs.bd-end:not(.end-portion)
    display: none

  &[prev*='bd-cop'].bd-open h-cs,
  /h-cs[prev*='bd-cop'].jiya-outer,
  /h-cs.jiya-outer.bd-end
    &:lang(zh-Hant),
    &:lang(zh-TW),
    &:lang(zh-HK)
      display: none

  // * Handle ‘「漢」·「字」’ situation
  // *
  &[unicode='b7'],
  &[unicode='30fb']
    &:not(.end-portion)
      letter-spacing: -.5em

  // * Handle ‘……「漢字’ situation
  // *
  &.bd-liga:not(.end-portion)
    margin-right: -.25em

