@font-face
  font-family 'Biaodian Hanging Sans'
  src local('Pingfang SC'), local('Heiti SC')
  unicode-range U+3001, U+3002, U+FF0C, U+FF0E
@font-face
  font-family 'Biaodian Hanging Sans'
  font-weight 600
  src local('Pingfang SC'), local('Heiti SC')
  unicode-range U+3001, U+3002, U+FF0C, U+FF0E
@font-face
  font-family 'Biaodian Hanging Serif'
  src local('Source Han Serif SC'), local('Noto Serif CJK SC'), local('Songti SC')
  unicode-range U+3001, U+3002, U+FF0C, U+FF0E
@font-face
  font-family 'Biaodian Hanging Serif'
  font-weight 600
  src local('Source Han Serif SC'), local('Noto Serif CJK SC'), local('Songti SC')
  unicode-range U+3001, U+3002, U+FF0C, U+FF0E
