
// *!
// * **WARNING**
// * It is recommended to overwrite the variables before
// * including the module, instead of modifying them here.
// *

// **
// * The root selector
// * `html` || `'*:root'`
// *
$han-root ?= html

// **
// * The article selector
// * Possible values:
// * `article` || `.article` || `.post` || `.entry`
// *
$han-article ?= article

// **
// * Global line-height
// * Recommended: `1.2-1.7em`
// *
$han-line-height ?= 1.3

// **
// * Line-height in article
// * Recommended: `1.5-2em`
// *
$han-article-line-height ?= 1.7

// **
// * Justified alignment in articles
// * `true` || `false`
// *
$han-article-justify ?= true

// **
// * [Advanced]
// * Sectional counter in articles
// * `true` || `false`
// *
$han-section-counter     ?= false
$han-section-counter-toc ?= false

// **
// * Indentation
// * Recommended: `1em` || `2em`
// *
$han-indent ?= 2em

// **
// * Indentation on mobile devices
// * Recommended: `1em` || `2em`
// *
$han-indent-md ?= 1em

// **
// * Max mobile-device width for RWD
// * Recommended: `480px`
// *
$han-mobile-device-width ?= 480px

// **
// * Emphasis mark
// * See: http://www.w3.org/TR/css-text-decor-3/#emphasis-marks
// *
// * `none` || `biaodian`
$han-text-emphasis-skip  ?= true
// * `none` || `filled` || `open`
$han-text-emphasis-shape ?= filled
// * `dot` || `circle` || `double-circle` || `triangle` || `sesame` || <string>
$han-text-emphasis-mark  ?= circle
// * `over` || `under`
$han-text-emphasis-posi  ?= under
// * `inherit` || <color>
$han-text-emphasis-color ?= inherit
// *
// * Emphasis mark in Japanese
// *
$han-text-emphasis-shape-ja ?= filled
$han-text-emphasis-mark-ja  ?= sesame
$han-text-emphasis-posi-ja  ?= over
$han-text-emphasis-color-ja ?= inherit

$han-zhuyin-size ?= .4

// **
// * Default Chinese locale variant
// * (Traditional or simplified characters)
// * `hant` || `hans`
// *
$han-default-variant ?= hant

// **
// * Chinese glyph set in general
// * `default` || `CNS` || `GB`
// *
$han-glyph-set-hant ?= default

// **
// * Simplified Chinese glyph set
// * `default` || `GB`
// *
$han-glyph-set-hans ?= GB

// **
// * Biaodian set for Tradtional Chinese
// * `Pro` || `CNS` || `GB` || `simp`
// *
$han-biaodian-hant ?= CNS

// **
// * Biaodian set for Simplified Chinese
// * `Pro` || `CNS` || `GB` || `simp`
// *
$han-biaodian-hans ?= GB

// **
// * Hanging Biaodian
// *
$han-hanging-hant ?= false
$han-hanging-hans ?= true
$han-hanging-ja   ?= true

// **
// * Generic typefaces for Western (Latin-based)
// * characters
// *
$han-sans    ?= "Helvetica Neue", Helvetica, Arial
$han-serif   ?= Georgia, "Times New Roman"
$han-cursive ?= "Apple Chancery", "Snell Roundhand"
$han-mono    ?= Menlo, Consolas, Courier

// **
// * Generic typefaces for Chinese
// *
$han-sans-zh    ?= ""
$han-serif-zh   ?= ""
$han-cursive-zh ?= ""
$han-mono-zh    ?= $han-sans-zh

// **
// * Web font paths
// * (Zhuyin, Yang checked-toned romanisation and
// * partial Biaodian correction)
// *
$han-font-path ?= "./font/"

