
h-ru[annotation]
  // positioning
  position: relative
  // box-model
  display: inline-table
  border-collapse: collapse
  border-spacing: 0
  // typography
  line-height: 1.1
  text-align: center
  vertical-align: 1em

  > h-ru[annotation]
    vertical-align: -.1em
  h-ruby[rightangle][doubleline] &
    vertical-align: .5em
  > h-ru,
  > rb,
  > rt
    // typography
    line-height: 1
    text-align: center
  > rt
    // box-model
    display: table-header-group
    height: 1em
    // typography
    font-size: 0.5em
    white-space: nowrap
    word-break: normal
  >rt:before,
  >rt:after
    content: "\2006"
  &[order='0'] > rt,
  h-ruby[rightangle][doubleline] &[order='0'] > rt
    display: table-header-group
  &[order='1'] > rt,
  h-ruby[rightangle] &[order='0'] > rt,
  h-ruby[rightangle][doubleline] &[order='1'] > rt
    display: table-footer-group
  &[order='0'] > h-ru[order='1']
    vertical-align: .15em
  h-ruby[rightangle][doubleline] &[order='0'] rt
    line-height: 1.5

//  Zhuyin
// --------
$han-zhuyin
  h-zhuyin
    han-typo-reset()
    // positioning
    position: relative
    // box-model
    display: inline-block
    height: (0.4 * 3em)
    height: 1em
    width: 0.4em
    vertical-align: text-top
  h-zhuyin > *
    // box-model
    han-scale(0.4)
    display: inline-block
  h-yin
    // positioning
    position: absolute
    left: 0
    // box-model
    height: 1em
    vertical-align: top
    line-height: 1
  h-diao
    // positioning
    position: absolute
    bottom: 0
    right: -.9em
    // typography
    line-height: 1
  h-yin:empty,
  h-diao:empty
    display: none
  &[length='0']
    margin-right: 0
    h-zhuyin
      display: none
  &[length='1'],
  [length='1']
    h-yin
      top: 0.3em
    h-diao
      bottom: 0
  &[length='2'],
  [length='2']
    h-yin
      top: 0.05em
    h-diao
      bottom: -.3em
  &[length='3'],
  [length='3']
    h-yin
      top: -.05em
      line-height: 0.85
    h-diao
      bottom: -.35em
  &[diao='˙'],
  [diao='˙']
    h-diao
      top: 0
      right: auto
      bottom: auto
      left: 0.06em
    &[length='1'] h-diao,
    [length='1'] h-diao
        top: 0.15em
    &[length='2'] h-diao,
    [length='2'] h-diao
        top: -.05em
    &[length='3'] h-diao,
    [length='3'] h-diao
        top: -.2em
  &[diao='˪'],
  &[diao='˫'],
  [diao='˪'],
  [diao='˫']
    h-diao
      han-scale(0.6)
  &[diao^='ㆴ'],
  &[diao^='ㆵ'],
  &[diao^='ㆶ'],
  &[diao^='ㆷ'],
  &[diao='󳆴'],
  &[diao='󳆵'],
  &[diao='󳆶'],
  &[diao='󳆷'],
  [diao^='ㆴ'],
  [diao^='ㆵ'],
  [diao^='ㆶ'],
  [diao^='ㆷ'],
  [diao='󳆴'],
  [diao='󳆵'],
  [diao='󳆶'],
  [diao='󳆷']
    h-diao
      bottom: -.6em
      margin-right: 0.3em

[zhuyin]
  @extend $han-zhuyin
  // positioning
  margin-right: 0.2em
  // box-model
  display: inline-block
  // typography
  line-height: 1.8

//  Right-angle
// -------------
[rightangle]
  h-ru[annotation]
    vertical-align: 0
    line-height: 1
  rt:after
    content: ""
    display: inline-block
    width: 1.2em
h-ru h-ru[zhuyin]
  // positioning
  margin-top: -.4em
  margin-bottom: -.2em
  // typography
  line-height: 1.8

