doctype html
html(lang='zh-Hant').han-init
  head
    meta(charset='utf-8')
    title 測試・思源黑體 — 漢字標準格式
    link(rel='stylesheet', href='./han.min.css')
    style.
      html {
        /* box */
        overflow-x: hidden;
      }

      article {
        /* position */
        margin: 0 auto;

        /* box */
        max-width: 35em;
        padding: 0 .5em 15em;

        /* typography */
        font-family: 'Source Han Sans', sans-serif;
        font-weight: 200;
      }

      article strong:lang(zh),
      article strong:lang(zh-Hant) {
        font-family: inherit;
      }
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='印刷品般的漢字網頁排版框架')
    meta(name='keywords' content='漢字標準格式, 中文, 排版, 排版規範, 日文, 字體排印, 文字設計, CLReq, CSS, Sass, typography')
  body.test

    article
      h1 測試·思源黑體
      section
        h2 標題與內文
        p <dfn>阿波羅11號</dfn>（Apollo 11）是美國國家航空航天局的阿波羅計畫（Project Apollo）中的第五次載人任務，是人類第一次登月任務，歷時8天13小時18分35秒，繞行月球30周，在月表停留21小時36分20秒。三位執行此任務的宇航員分別為指令長尼爾·阿姆斯特朗、指令艙駕駛員邁克爾·科林斯與登月艙駕駛員巴茲·奧爾德林。1969年7月20日，阿姆斯特朗與奧爾德林成為了首次踏上月球的人類，而阿波羅11號登陸月球一事更進一步成為紀錄片和廣告常見之歷史事件。

        h2 字重
        p <dfn>鵝</dfn>，<strong>是企鵝家族中體型<strong>最大</strong>的屬種</strong>，成年皇帝企鵝身高可達120厘米，體重可達46千克。在皇帝企鵝發現之前，有一種企鵝被認為是最大的企鵝，取名為國王企鵝。
    script(src='./han.min.js')
