
han-webfont()
  src: $han-webfont

han-typeface-by-lang($typeface = sans)
  &:lang(zh)
    @extend $han-{$typeface}
  &:lang(zh-Hant)
    @extend $han-{$typeface}-hant
  &:lang(zh-Hans),
  &:lang(zh-CN)
    @extend $han-{$typeface}-hans
  &:lang(ja)
    @extend $han-{$typeface}-ja
  &:lang(zh-Latn),
  &:lang(ja-Latn),
  &:not(:lang(zh)):not(:lang(ja)),
  *:lang(zh-Latn),
  *:lang(ja-Latn),
  *:not(:lang(zh)):not(:lang(ja))
    @extend $han-{$typeface}
