
@font-face
  src: $han-space-webfont
  font-family: 'Han Space'
  unicode-range: U+'+20'

@if ( $han-hanging-hant == false )
  #{$_hanging-hant}
    h-cs,
    h-cs[hidden]
      // box-model
      display: inline
      visibility: inherit
      // typography
      font-family: inherit
      font-size: inherit

#{$han-hanging-selector}
  // positioning
  position: relative
  // box-model
  display: inline

  // Hide the collapsable spaces of closing brackets for we are sure
  // they ain't in use.
  h-char.biaodian.close h-cs
    display: none

  > h-cs
    // positioning
    position: relative
    // box-model
    display: inline !important
    visibility: visible
    // typography
    font: inherit

  > h-cs h-inner,
  > h-cs h-inner[hidden]
    // box-model
    display: inline
    visibility: hidden
    // typography
    font: 1em 'Han Space', $han-mono

  > h-cs h-char.end
    +han-typo-reset
    // positioning
    position: absolute
    left: 0
    top: 0
    // box-model
    display: inline-block
    // typography
    line-height: 1.1
  
    ruby &,
    h-ru &
      position: relative

