
/**
 * CJK Biaodian compression (CJK標點擠壓)
 */

hcs
  // box
  display: none
  visibility: hidden
  // typo
  font: .825em Courier
  letter-spacing: 0

// * Handle line start/end Biaodian (行首行尾標點擠壓)
// *

char.biaodian
  &.open inner
    margin-left: -.5em

  &.close,
  &[unicode='3001'],
  &[unicode='3002'],
  &[unicode='ff0c'],
  &[unicode='ff0e']
    inner
      letter-spacing: -.5em

  &.open,
  &.close,
  &[unicode='3001'],
  &[unicode='3002'],
  &[unicode='ff0c'],
  &[unicode='ff0e']
    hcs
      display: inline

  &[unicode='3001']:lang(zh-Hant),
  &[unicode='3002']:lang(zh-Hant),
  &[unicode='ff0c']:lang(zh-Hant),
  &[unicode='ff0e']:lang(zh-Hant)
    inner
      letter-spacing: inherit
    hcs
      display: none

// * Handle consecutive Biaodian (連續標點擠壓)
// *
char_group
  .open + .open hcs,
  .end:not(:last-child) hcs
    display: none

  [unicode='3001'],
  [unicode='3002'],
  [unicode='ff0c'],
  [unicode='ff0e']
    &:lang(zh-Hant) + .open hcs
      display: none

  // * Handle ‘「漢」·「字」’ situation
  // *
  [unicode='b7'],
  [unicode='30fb']
    &:not(:last-child)
      letter-spacing: -.5em

  // * Handle ‘……「漢字’ situation
  // *
  .liga:not(:last-child)
    margin-right: -.25em

