doctype html
html(lang='zh-Hant')
  head
    meta(charset='utf-8')
    title API tests for han.js
    link(rel='stylesheet' href='./qunit.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    #qunit
    #qunit-fixture
    script(src='./qunit.js')
    script(src='./han.min.js')
    script(src='./api.js')
