
/* 
 * 漢字標準格式 v2.1.0
 * 各家瀏覽器標頭的CSS3屬性
 * ---
 * CSS3 propertes in diff. browsers,
 * Hanzi-optimised CSS Mode
 *
 *
 *
 * Lisence: MIT Lisence
 * Last Modified: 2013/08/28
 *
 */

@mixin scale( $size: .55 ) {
    -moz-transform:     scale( #{$size} );
    -webkit-transform:  scale( #{$size} );
    transform:          scale( #{$size} );
}


@mixin calc( $prop, $exp ) { 
	#{$prop}: -moz-calc( #{$exp} );
  	#{$prop}: -webkit-calc( #{$exp} );
  	#{$prop}: calc( #{$exp} ); 
} 








