

/* ---------------------------------------
   四大字體集
   ---
   The Four Typefaces
   ---------------------------------------
   仿宋體
   Fangsong
   --------------------------------------- */

@font-face {
    font-family: 'Han Fangsong';
    src: local(STFangsong),
         local(FangSong);
}


/* ----------------------------------------- 
 * 解決IE的字體fallback問題
 * Solution to IE font fallback issue
 * ----------------------------------------- */

@font-face {
    font-family: 'Han Fangsong';
    src: local(FangSong);
    unicode-range: U+4E00;
}


/* ----------------------------------------- 
 * 解決Firefox不支援`unicode-range`的問題
 * Solution to Firefox's `unicode-range`
 * issue
 * ----------------------------------------- */

@font-face {
    font-family: 'Han Fangsong';
    src: local(STFangsong), local(FangSong);
    unicode-range: U+270C;
}



















