

/* ---------------------------------------
   四大字體集
   ---
   The Four Typefaces
   ---------------------------------------
   黑體
   Heiti (Gothic)
   --------------------------------------- */

@font-face {
    font-family: 'Han Heiti';
    src: local(YuGothic),
         local('Hiragino Kaku Gothic ProN'),
         local('Hiragino Kaku Gothic Pro'),
         local('Hiragino Sans GB'),

         local('Lantinghei TC'), 
         local('Lantinghei SC'),

         local('Heiti SC'), 
         local('Heiti TC'),

         local('Microsoft Yahei'),
         local('Microsoft Jhenghei'),

         local('Droid Sans Fallback');
}

@font-face {
    font-family: 'Han Heiti CNS';
    src: local(YuGothic),
         local('Hiragino Kaku Gothic ProN'),
         local('Hiragino Kaku Gothic Pro'),
         local('Hiragino Sans GB'),

         local('Lantinghei TC'),
         local('Heiti TC'),
         local('Microsoft Jhenghei'),

         local('Heiti SC'),
         local('Lantinghei SC'),
         local('Microsoft Yahei'),

         local('Droid Sans Fallback');
}

@font-face {
    font-family: 'Han Heiti GB';
    src: local('Hiragino Sans GB'),
         local('Lantinghei SC'),
         local('Heiti SC'),

         local('Microsoft Yahei'),

         local('Droid Sans Fallback');
}


/* ----------------------------------------- 
 * 解決IE的字體fallback問題
 * Solution to IE font fallback issue
 * ----------------------------------------- */

@font-face {
    font-family: 'Han Heiti';
    src: local('Microsoft Yahei'), 
         local('Microsoft Jhenghei');
    unicode-range: U+4E00;
}


/* ----------------------------------------- 
 * 解決Firefox不支援`unicode-range`的問題
 * Solution to Firefox's `unicode-range`
 * issue
 * ----------------------------------------- */

@font-face {
    font-family: 'Han Heiti';
    src: local('Hiragino Sans GB'), 
         local('Lantinghei TC'),
         local('Lantinghei SC'),
         local('Heiti SC'),
         local('Heiti TC'),
         local('Microsoft Yahei'),
         local('Microsoft Jhenghei'),
         local('Droid Sans Fallback');
    unicode-range: U+270C;
}

@font-face {
    font-family: 'Han Heiti';
    font-weight: 600;

    src: local('Hiragino Sans GB W6'), 
         local('Heiti SC Medium'),
         local('Heiti TC Medium'),
         local('Microsoft Yahei Bold'),
         local('Microsoft Jhenghei Bold');
    unicode-range: U+270C;
}



















