

/* 
 * @font-face字體設定
 * ---
 * @font-face settings
 *
 */

$zhuyin_ttf: '/fonts/zhuyin.ttf';
$zhuyin_eot: '/fonts/zhuyin.eot';


// Unicode CJK區段 
@mixin range-CJK {
	unicode-range:
		// Unicode 1.0
		U+4E00-9FFF,

		// 12個「相容表意文字」
		U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23, U+FA24, U+FA27-FA29,

		// 擴展A區
		U+3400-4DB5,

		// Unicode 4.1、5.1新增日語漢字
		U+9FBC-9FC2, U+9FC4-9FC5, 

		// 擴展B、C、D（急用漢字）區
		U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, 

		// 假名
		U+3040-309E, U+30A1-30FE, 

		// 數字「〇」
		U+3007;
}

// Unicode 數字0-9
@mixin range-numeral {
	unicode-range: U+0030-0039;
}


// Unicode 注音及方言音擴充符號區段
@mixin range-zhuyin {
	unicode-range: 
		// 注音符號及方言音擴充
		U+3105-312D, U+31A0-31BA,

		// 國語及方言音聲調
		U+02D9, U+02CA, U+02C5, U+02C7, U+02CB, U+02EA-02EB;
}



/* ---------------------------------------
   `unicode-range`
   ---------------------------------------
   瀏覽器若支援，[A-Za-z]顯示為無襯線字體；
   若不支援，顯示為襯線字體。
   --------------------------------------- */

@font-face {
	font-family: han-unicode-range;
	src:
		local(Arial),
		local('Droid Sans');
	//unicode-range: U+0041-007A;
}

@font-face {
	font-family: han-unicode-range;
	src:
		local('Times New Roman'),
		local(Times),
		local('Droid Serif');
	unicode-range: U+270C; 
}



/* ---------------------------------------
   四大字體集及標點
   ---
   The Four Typefaces & Biaodian
   --------------------------------------- */

@import 'ff/heiti';
@import 'ff/songti';
@import 'ff/kaiti';
@import 'ff/fangsong';
@import 'ff/biaodian';

@import 'ff/mixin';



/* ---------------------------------------
   特殊西文及數字字體
   ---
   Latin Specialties & numerals
   --------------------------------------- */

@import 'ff/italic';
@import 'ff/numeral';



/* ---------------------------------------
   注音符號
   ---
   Zhuyin
   --------------------------------------- */

@import 'ff/zhuyin';



















