@charset 'utf-8';

/* 
 * @font-face字體設定
 * ---
 * @font-face settings
 *
 */

$zhuyin_ttf: '../fonts/zhuyin.ttf';
$zhuyin_eot: '../fonts/zhuyin.eot';


// Unicode CJK區段 
@mixin unicode-range-CJK {
    unicode-range:
         U+4E00-9FFF, // Unicode 1.0
         U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23, U+FA24, U+FA27-FA29, // 12個「相容表意文字」
         U+3400-4DB5, // 擴展A區
         U+9FBC-9FC2, U+9FC4-9FC5, // Unicode 4.1、5.1新增日語漢字
         U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, // 擴展B、C、D（急用漢字）區
         U+3040-309E, U+30A1-30FE, // 假名
         U+3007; // 數字「〇」
}


/* ---------------------------------------
   四大字體集及標點
   ---
   The Four Typefaces & Biaodian
   --------------------------------------- */

@import 'ff/heiti';
@import 'ff/songti';
@import 'ff/kaiti';
@import 'ff/fangsong';

@import 'ff/biaodian';



/* ---------------------------------------
   襯線西文斜體
   ---
   Italic serif for Latin
   --------------------------------------- */

@font-face {
    font-family: 'Latin Italic Serif';
    src: local('Georgia-Italic'),
        local('Georgia Italic'),
        local('Times-Italic'),
        local('TimesNewRomanPS-ItalicMT') /* 3 */,
        local('Times New Roman Italic') /* 4 */;
}


@font-face {
    font-family: 'Latin Italic Serif';
    font-weight: 700;

    src: local(Georgia-BoldItalic),
        local('Georgia Bold Italic'),
        local(Times-Italic),
        local(TimesNewRomanPS-BoldItalicMT) /* 3 */,
        local('Times New Roman Bold Italic') /* 4 */;
}



/* ---------------------------------------
   無襯線西文斜體
   ---
   Italic sans-serif for Latin
   --------------------------------------- */

@font-face {
    font-family: 'Latin Italic Sans';
    src: local(HelveticaNeue-Italic),
        local('Helvetica Neue Italic'),
        local(Helvetica-LightOblique) /* 3 */,
        local('Helvetica Oblique') /* 4 */,
        local('Arial Italic') /* 2 */,
        local(Arial-ItalicMT);
}

@font-face {
    font-family: 'Latin Italic Sans';
    font-weight: 700;

    src: local(HelveticaNeue-BoldItalic),
        local('Helvetica Neue Bold Italic'),
        local(Helvetica-BoldOblique) /* 3 */,
        local('Helvetica Bold Oblique') /* 4 */,
        local('Arial Bold Italic') /* 2 */,
        local(Arial-BoldItalicMT);
}



/* ---------------------------------------
   注音符號
   ---
   Zhuyin
   --------------------------------------- */

@font-face {
    font-family: 'Han Zhuyin Cursive';
    src: local('☺'),
         url($zhuyin_eot) format('embedded-opentype')  /* for IE10 */,
         url($zhuyin_ttf) format('truetype'); 
}

@font-face {
    font-family: 'Han Zhuyin Sans';
    src: local('Hiragino Sans GB'), local('Microsoft JhengHei'); 
}

@font-face {
    font-family: 'Han Zhuyin Sans';
    src: local('Heiti TC'), local('Microsoft JhengHei'); 
    unicode-range: U+3127, U+02C7, U+02CA-B, U+02D9;
}



















