

hruby
    display: inline
    line-height: 2

    // **!
    // * 隱藏`<rp>`
    // * Hide `<rp>`
    // *

    rp
        display: none

    // **!
    // * 隱藏的`<copy>`元素，利於複製貼上
    // * Invisible `<copy>` elements for copy-and-paste
    // *

    copy
        // posi
        display: inline-block
        opacity: 0
        text-indent: -9999999px

        // size
        height: 0
        width: 0

    // **!
    // * 小字標注
    // * Annotations
    // *

    rb[annotation]
        display: inline-block
        position: relative
        text-indent: 0

        &:before
            // posi
            +_borderbox
            display: inline-block
            left: -200%
            position: absolute
            top: -.5em
            vertical-align: middle

            // size
            +_scale(.55)
            height: 1em
            width: 500%

            // typo
            content: attr(annotation)
            line-height: 1.5
            text-align: center
            text-indent: 0

    // **!
    // * 複合式小字標注
    // * Complex Annotations
    // *

    &[complex]
        rb[annotation]
            &[order="1"]:before
                top: -.5em

            &[order="2"]:before
                bottom: -.25em
                top: auto

    // **!
    // * 拼、注音直角共同顯示
    // * Right-angle complex ruby for Romanization & Zhuyin
    // *

    &[rightangle]
        rb[annotation]:before
            // posi
            bottom: -.25em
            top: auto
            margin-left: -.3em

            // typo
            line-height: 1

    // **!
    // * 國語注音、台灣方言音符號
    // * Zhuyin
    // *

    rb[zhuyin]

        // a. 偽元素`:before`為「注音符」
        //    Pseudo elements `:before` are used for pronunciation symbols
        //
        // b. 偽元素`:after`為「音調」
        //    Pseudo elements `:after` are used for tones
        //
        //
        // 1. 依注音字符數量為「注音」及「調號」定位
        //    Position symbols according to the Zhuyin length
        //
        // 2. 輕聲
        //    neutral tone
        // 
        // 3. 陰去、陽去
        //    falling tones    
        //
        // 4. 陰入、陽入
        //    checked tones

        // posi
        display: inline-block
        position: relative
        text-indent: 0

        // size
        width: 1.7em

        &:before,
        &[diao]:after
            // posi
            +_borderbox
            display: inline-block
            position: absolute
            right: .15em
            top: 0

            // size
            +_scale(.55)
            height: 2.7em
            width: .8em

            // typo
            +_typo-reset

        // a
        &:before
            content: attr(yin)
            line-height: .9
            white-space: pre-wrap
            word-break: break-all

        // b
        &[diao]:after
            // posi
            right: -.45em

            // size
            width: 1em

            // typo
            content: attr(diao)

        // 1
        &[length="1"]
            &:before
                margin-top: .25em
            &:after
                margin-top: -.35em
        &[length="2"]
            &:before
                margin-top: -.15em
            &:after
                margin-top: .125em
        &[length="3"]
            &:before
                margin-top: -.4em
            &:after
                margin-top: .25em

        // 2
        &[diao="˙"]
            &:after
                right: -.2em

            &[length="1"]:after
                margin-top: 0
            &[length="2"]:after
                margin-top: -.25em
            &[length="3"]:after
                margin-top: -.6em

        // 3
        &[diao="˪"],
        &[diao="˫"]
            &:after
                +_scale(.6)
                margin-right: -.15em

        // 4
        &[diao^="ㆴ"],
        &[diao^="ㆵ"],
        &[diao^="ㆶ"],
        &[diao^="ㆷ"],
        &[diao="󳆴"],
        &[diao="󳆵"],
        &[diao="󳆶"],
        &[diao="󳆷"]
            &:after
                margin-right: -.2em
                margin-top: .55em

    // **!
    // * Retina Display
    // *

    @media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)

        // 1. 輕聲
        //    neutral tone
        // 
        // 2. 陰去、陽去
        //    falling tones    
        //
        // 3. 陰入、陽入
        //    checked tones

        rb[zhuyin]
            width: 1.55em

            &:before,
            &[diao]:after
                +_scale(.4)
                right: .05em
                line-height: .9

            &[diao]:after
                right: -.45em

            &[length="1"]
                &:before
                    margin-top: 0
                &:after
                    margin-top: -.125em
            &[length="2"]
                &:before
                    margin-top: -.2em
                &:after
                    margin-top: 0
            &[length="3"]
                &:after
                    margin-top: .125em

            // 1
            &[diao="˙"]
                &:after
                    right: -.275em

                &[length="1"]:after
                    margin-top: -.125em
                &[length="2"]:after
                    margin-top: -.25em
                &[length="3"]:after
                    margin-top: -.475em

            // 2
            &[diao="˪"],
            &[diao="˫"]
                &:after
                    +_scale(.55)
                    margin-right: -.15em

            // 3
            &[diao^="ㆴ"],
            &[diao^="ㆵ"],
            &[diao^="ㆶ"],
            &[diao^="ㆷ"],
            &[diao="󳆴"],
            &[diao="󳆵"],
            &[diao="󳆶"],
            &[diao="󳆷"]
                &:after
                    margin-right: -.15em
                    margin-top: .4em



















