

/* 
 * 以語言為基礎的元素樣式修正
 * ---
 * Language-based style correction, 
 * Hanzi-optimised CSS Mode
 *
 */


 /* ---------------------------------------
	變數設定
	---
	Variables
	---------------------------------------
	顏色
	Colours
	--------------------------------------- */
$lightgrey: lightgrey; // 淺灰



/* ---------------------------------------
   針對normalize.css的改進
   ---
   Improvements aim to normalize.css
   --------------------------------------- */

dfn {
	font-style: inherit;
	font-weight: bold;
}


/* 增進code區塊的可讀性
   Enhances the readability of code blocks
   --------------------------------------- */

pre code {
	display: block;
	overflow: auto;
	white-space: pre;
	word-wrap: normal;
}



/* ---------------------------------------
   $(selector).charize()
   --------------------------------------- 
   避頭尾點
   Line breaking rules on punctuation
   --------------------------------------- */

.han-js-charized span.char,
.han-js-bitouwei-rendered span.bitouwei {
	display: inline-block;
	text-indent: 0;
}

.han-js-charized span.char.space,
.han-js-charized span.char > span {
	display: inline;
}



/* ---------------------------------------
   底線
   ---
   Underlines
   --------------------------------------- 
   註記元素（u）及兩相鄰時的底線區別（u+u）
   Annotations and adjacent ones
   --------------------------------------- */

:lang(zh) u,
:lang(ja) u {
	letter-spacing: 0;
	border-bottom: 1px solid;
	padding-bottom: 0.05em;
	text-decoration: none;
}

u + u {
	margin-left: .125em;
}

html.han-js-rendered u + u {
	margin-left: 0;
}

html.han-js-rendered u.adjacent {
	margin-left: .125em;
}

/* 實驗性功能 */
/* 避免`border-box` reset的問題 */
.han-js-rendered.han-lab-underline u,
.han-js-rendered.han-lab-underline u *,
.han-js-rendered.han-lab-underline u *:before,
.han-js-rendered.han-lab-underline u *:after {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

u.han-js-charized {
	border-bottom: 0 none;
	text-decoration: none;

	span.char:not(:first-of-type):not(:last-of-type) span,
	hanla,
	span.char:first-of-type span:after,
	span.char:last-of-type span:after {
		border-bottom: 1px solid;
		padding-bottom: .125em;
	}

	span.char:first-of-type span,
	span.char:last-of-type span {
		position: relative;

		&:after {
			content: '';
			display: inline-block;
			left: 0;
			margin-left: 1px;
			position: absolute;
			top: 0;
			height: 100%;
			@include calc( width, "100% - 1px" );
		}
	}

	span.char:last-of-type span:after {
		margin: 0 1px 0 0;
	}

	span.char:first-child:last-child span:after {
		margin: 0 1px 0;
		@include calc( width, "100% - 2px" );
	}

	:not(:first-child) span.char:first-of-type span:after,
	:not(:last-child) span.char:last-of-type span:after,
	span.char:not(:first-child):first-of-type span:after,
	span.char:not(:last-child):last-of-type span:after {
		border-bottom: 0;
	}

	:not(:first-child) span.char:first-of-type span,
	:not(:last-child) span.char:last-of-type span,
	span.char:not(:first-child):first-of-type span,
	span.char:not(:last-child):last-of-type span {
		border-bottom: 1px solid;
		padding-bottom: .125em;
	}

	hanla:first-child,
	hanla:last-child {
		border: 0 none;
	}

	:not(:first-child) hanla:first-child,
	:not(:last-child) hanla:last-child {
		border: 1px solid;
	}
}





/* 重新定製「連結、插入元素」的樣式
   Re-styles anchors and additions
   --------------------------------------- */

html:lang(zh) {
	a:link,
	a:visited,
	a:hover,
	a:active,
	ins {
		text-decoration: inherit;
	}

	ins {
		border-bottom: 3px double $lightgrey;
		padding-bottom: .05em;
	}
}



/* ---------------------------------------
   文章內的「標題、一般及詩篇段落、清單等」
   ---
   Headings, paragraphs and lists
   in article
   --------------------------------------- 
   四、五號標題
   Headings of level 4 and 5
   --------------------------------------- */

article h4,
article h5 {
	margin: 1em 0;
}

article h4 + h5 {
	margin-top: -.5em;
}



/* 段落及清單
   Paragraphs and lists
   --------------------------------------- */

article p,
article li {
	line-height: 2;
	text-align: justify;
}

article:lang(zh) p.poem-like,
article:lang(zh).poem-like p,
article:lang(zh) .poem-like p,
article:lang(ja) p.poem-like,
article:lang(ja).poem-like p,
article:lang(ja) .poem-like p {
	text-indent: 0;
	margin-left: 2em;
}

article:lang(ja) p.poem-like,
article:lang(ja).poem-like p,
article:lang(ja) .poem-like p {
	margin-left: 1em;
}

article:lang(zh) ol,
article:lang(zh) ul,
article:lang(ja) ol,
article:lang(ja) ul {
	margin: .5em 0 .5em 0;
	padding: 0;

	> li {
		margin-left: 2em;
		padding: 0;
	}
}

article h4 + ul,
article h4 + ol,
article h5 + ul,
article h5 + ol,
article h6 + ul,
article h6 + ol {
	margin-top: -.5em;
}

article:lang(ja) ol,
article:lang(ja) ul {
	margin-left: 1em;
	padding-left: 1.5em;

  > li {
	  margin-left: 1em;
  }
}



/* ---------------------------------------
   漢拉間隙
   ---
   Kerning between Hanzi and Latin letter
   --------------------------------------- */

hanla,
html:not(.han-la) hanla {
	display: none;
}

html.han-la span:lang(zh).hanla,
html.han-la span:lang(ja).hanla {
	display: inline;
	position: static;
}

html.han-la hanla:after {
	content: ' ';
	display: inline;
	font-size: 1ch;
	font-size: -webkit-calc( .25em );
}

html.han-la code hanla:after,
html.han-la pre hanla:after,
html.han-la kbd hanla:after,
html.han-la samp hanla:after,
html.han-la ol > hanla:after,
html.han-la ul > hanla:after {
	display: none;
}



/* ---------------------------------------
   書名號（*棄用）
   ---
   Cites (*deprecated)
   ---------------------------------------
 *
 * 1. 修正Webkit下的字體fallback
 *	  Corrects font fallback on WebKit
 *
 */

cite:lang(zh),
cite:lang(ja),
cite:lang(en).piece {
	font-style: inherit;
}

cite:lang(zh):before,
cite:lang(zh):after {
	content: '《';
	font-family: inherit; /* 1 */
	line-height: inherit;
}

cite:lang(zh):after {
	content: '》';
}

cite:lang(zh).piece:before {
	content: '〈';
}

cite:lang(zh).piece:after {
	content: '〉';
}

cite:lang(ja):before {
	content: '『';
}

cite:lang(ja):after {
	content: '』';
}

cite:lang(ja).piece:before {
	content: '「';
}

cite:lang(ja).piece:after {
	content: '」';
}

cite:lang(en).piece:before,
cite:lang(en).piece:after {
	content: '“';
	font-family: inherit; /* 1 */
}

cite:lang(en).piece:after {
	content: '”';
}

cite:lang(en-GB).piece:before {
	content: '‘';
}

cite:lang(en-GB).piece:after {
	content: '’';
}

.no-cite-mark cite:before,
.no-cite-mark cite:after,
cite.no-cite-mark:before,
cite.no-cite-mark:after {
	content: '' !important;
}



/* ---------------------------------------
   着重號
   ---
   Emphases
   --------------------------------------- 
 *
 * 1. Fallback
 *
 */

em:lang(zh),
em:lang(ja) {
	font-style: inherit;

	// 1
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	padding-bottom: .05em;

	@include zhuozhonghao;
	border-bottom-width: -webkit-calc( 0px );


	span.biaodian {
		@include zhuozhonghao( none );
	}
}

em:lang(ja) {
	@include zhuozhonghao( sesame, over );
}

.han-js-rendered em:lang(zh),
.han-js-rendered em:lang(ja) {
	border-bottom-width: 0;
	padding-bottom: auto;
}

.no-textemphasis em:lang(zh) span.char {
	font-style: inherit;
	position: relative;
}

.no-textemphasis em:lang(zh) span.char:after {
	// posi
	display: inline-block;
	left: 0;
	margin: .4em 0 0 0;
	overflow: hidden;
	position: absolute;
	text-indent: 0;
	top: 0;

	// size
	height: 1.9em;

	// typo
	content: '・'; // ●
	font-style: normal;
	font-weight: normal;
	line-height: 1.9em;
	text-decoration: none;
}

.no-textemphasis em:lang(ja) span.char:after {
	content: '、';
	margin: -1.55em 0 0 .32em;
	overflow: inherit;
}

.no-textemphasis em:lang(zh) span.latin:after {
	margin: .4em 0 0 -.25em;
}

.no-textemphasis em:lang(ja) span.latin:after {
	margin: -1.5em 0 0 .1em;
}

.no-textemphasis :lang(zh) em span.space:after,
.no-textemphasis :lang(ja) em span.space:after,
.no-textemphasis :lang(zh) em span.biaodian:after,
.no-textemphasis :lang(ja) em span.biaodian:after {
	content: none;
}

:not(:lang(zh)):not(:lang(ja)) em,
:not(:lang(zh)):not(:lang(ja)) em {
	@include zhuozhonghao( none );
	font-style: italic;
}

.no-textemphasis :not(:lang(zh)):not(:lang(ja)) em span.char:after {
	content: none;
}



/* ---------------------------------------
   變音文字
   ---
   Alternative voices
   ---------------------------------------
 *
 * 1. 如果系統不支援楷體
 *	If Kaiti is not supported
 *
 */

:lang(zh) i,
:lang(ja) i,
i:lang(zh),
i:lang(ja) {
	font-style: inherit;
}

i:lang(zh),
i:lang(ja) {
	font-family: cursive, serif;
}

.no-fontface-kaiti i:lang(zh),
.no-fontface-kaiti i:lang(ja) {
	// 1
	font-family: serif;
	border-bottom: 3px double $lightgrey;
	padding-bottom: .05em;
}



/* ---------------------------------------
   文章內重點
   ---
   Importance in article
   --------------------------------------- */

article strong:lang(zh),
article strong:lang(ja) {
	font-family: sans-serif;
	font-weight: bold;
}



/* ---------------------------------------
   引用
   ---
   Quotes
   --------------------------------------- 
   行內引言
   Inline quotation
   --------------------------------------- */

q {
	quotes: '“' '”' '‘' '’' '“' '”' '‘' '’' '“' '”' '‘' '’';


	&:lang(zh),
	&:lang(ja) {
		quotes: '「' '」' '『' '』' '「' '」' '『' '』' '「' '」' '『' '』';
	}

	&:lang(zh-CN),
	&:lang(zh-Hans),
	&:lang(en) {
		quotes: '“' '”' '‘' '’' '“' '”' '‘' '’' '“' '”' '‘' '’';
	}

	&:lang(en-GB) {
		quotes: '‘' '’' '“' '”' '‘' '’' '“' '”' '‘' '’' '“' '”';
	}

	&:before {
		content: open-quote;
	}

	&:after {
		content: close-quote;
	}


	// Browsers which doesn't support
	// `quote` attribution. (i.e., WebKit)
	.no-quotes &:lang(zh):before,
	.no-quotes &:lang(ja):before {
		content: '「';
	}

	.no-quotes &:lang(zh):after,
	.no-quotes &:lang(ja):after {
		content: '」';
	}

	.no-quotes &.double:lang(zh):before,
	.no-quotes &.double:lang(ja):before {
		content: '『';
	}

	.no-quotes &.double:lang(zh):after,
	.no-quotes &.double:lang(ja):after {
		content: '』';
	}

	.no-quotes &:lang(zh-CN):before,
	.no-quotes &:lang(zh-Hans):before,
	.no-quotes &:lang(en):before,
	.no-quotes &.double:lang(en-GB):before {
		content: '“';
	}

	.no-quotes &:lang(zh-CN):after,
	.no-quotes &:lang(zh-Hans):after,
	.no-quotes &:lang(en):after,
	.no-quotes &.double:lang(en-GB):after {
		content: '”';
	}

	.no-quotes &.double:lang(zh-CN):before,
	.no-quotes &.double:lang(zh-Hans):before,
	.no-quotes &.double:lang(en):before,
	.no-quotes &:lang(en-GB):before {
		content: '‘';
	}

	.no-quotes &.double:lang(zh-CN):after,
	.no-quotes &.double:lang(zh-Hans):after,
	.no-quotes &.double:lang(en):after,
	.no-quotes &:lang(en-GB):after {
		content: '’';
	}
}



/* 區塊引用
   Block quotes
   ---------------------------------------
   文章內的區塊引用
   In articles
   --------------------------------------- */

article:lang(zh) blockquote,
article:lang(ja) blockquote {
	font-family: serif;
	margin: 1.5em 0 1.5em 2em;
	width: auto;
}

/* 引用中的引用
   Blockquote hierarchies
   --------------------------------------- */

article:lang(zh) blockquote blockquote {
	margin: 1em 0 1em 2em;
}

article:lang(ja) blockquote blockquote {
	margin: 1em 0 1em 1em;
}


/* 文章區塊下描述元素內的區塊引用
   In article figures
   --------------------------------------- */

article:lang(zh) figure blockquote,
article:lang(ja) figure blockquote {
	font-family: serif;
	font-size: 1.25em;
	margin: .5em 0 0;
	padding: 7px;


	blockquote {
		margin: inherit;
	}

	p {
	   margin: .2em 0;
	}
}

article:lang(zh) figure figcaption,
article:lang(ja) figure figcaption {
	border-top: 1px solid $lightgrey;
	clear: both;
	color: #666;
	font: .85em normal sans-serif;
	padding-top: .25em;
	text-align: justify;
}




/* ---------------------------------------
   漢字註音
   ---
   Hanzi Rubies
   ---------------------------------------
   羅馬拼音
   Romanisation
   --------------------------------------- */

html.han-js-rendered ruby rt:before,
html.han-js-rendered ruby rt:after {
	content: '';
}

html.ruby ruby rt {
	padding: 0 .2em;
}

html.no-ruby ruby {
	display: inline-block;
	line-height: 1.2;
	text-indent: 0;
	vertical-align: 1.15em;
}

html.no-ruby ruby,
html.no-ruby ruby .rt {
	text-indent: 0;
}

html.no-ruby ruby .rr {
	display: inline-table;
	text-align: center;
}

html.no-ruby ruby .rb {
	display: table-row-group;
}

html.no-ruby ruby:not(.mps) .rt {
	display: table-header-group;
	font-size: .8em;
	line-height: normal;
	padding: 0 .05em;
	white-space: nowrap;
}

html.no-ruby ruby .rt:empty:after {
	content: ' ';
	display: inherit;
}


/* 橫式注音符號
   Zhuyin (left-to-right)
   --------------------------------------- */

ruby.mps-ltr rt,
ruby.mps-ltr .rt {
	font-family: cursive, serif;
}



/* ---------------------------------------
   代碼元素
   ---
   Code
   --------------------------------------- */

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
}



/* ---------------------------------------
   在小視窗瀏覽器上（如手持裝置）的微調
   ---
   Adjustments to small-width windows
   (i.e., mobile devices)
   --------------------------------------- */

@media only screen and (max-width: 480px),
	   only screen and (device-aspect-ratio: 2/3),
	   only screen and (device-aspect-ratio: 40/71) {

	article:lang(zh).poem-like p,
	article:lang(zh) .poem-like p,
	article:lang(zh) p.poem-like,
	article:lang(zh) ol > li,
	article:lang(zh) ul > li {
		margin-left: 1em;
		padding: 0;
	}

	article:lang(zh) blockquote {
		margin-left: 1em;
	}

	article:lang(zh) blockquote blockquote {
		margin-left: 1em;
		padding-left: 1em;
	}
}



















