

/* 
 * Ruby: 國語注音、台灣方言音符號
 * ---
 * Ruby: Mandarin & Taiwanese Dialect
 * Phonetic Symbols (Zhuyin)
 *
 */

h-ruby
	display: inline

	copy
		// posi
		display: inline-block
		opacity: 0
		text-indent: -9999999em

		// size
		width: 0


	rb[romanization]
		display: inline-block
		position: relative
		text-indent: 0

		&:after
			// posi
			+borderbox
			display: inline-block
			left: 0
			position: absolute
			top: -.5em
			vertical-align: middle

			// size
			width: 100%

			// typo
			content: attr(romanization)
			font-size: .55em
			line-height: normal
			text-align: center
			text-indent: 0

	&[rightangle] rb[romanization]:after
		// posi
		bottom: -.5em
		left: -.75em
		top: auto 


	&[generic="sans-serif"] rb[yin]:after 
		font-family: 'Zhuyin Heiti', sans-serif

	&[generic="serif"] rb[yin]:after 
		font-family: 'Zhuyin Kaiti', cursive, serif


	rb
		&[yin]
			// posi
			display: inline-block
			margin-right: .1em
			position: relative
			text-indent: 0

			// size
			height: 2em


			&:after,
			&[diao]:before
				// posi
				+borderbox
				display: inline-block
				text-indent: 0
				vertical-align: middle

				// typo & reset
				+zhuozhonghao(none)
				font: 300 normal 1em/.9 'Zhuyin Kaiti', cursive, serif
				text-decoration: none


			&:after
				// posi
				margin-left: -.2em

				// size
				+scale(.55)
				height: 2.7em
				width: .8em

				// typo
				content: attr(yin)
				line-height: .85
				white-space: pre-wrap
				word-break: break-all


			// 預設（黑體）注音符號的注音、調號位置調整
			// 單個注音字符
			&[form="shengmu"]:after,
			&[form="jieyin"]:after,
			&[form="yunmu"]:after
				margin-top: .65em

			// 二個注音字符
			&[form="shengmu-jieyin"]:after,
			&[form="shengmu-yunmu"]:after,
			&[form="jieyin-yunmu"]:after
				margin-top: .15em

			// 三個注音字符
			&[form="shengmu-jieyin-yunmu"]:after
				margin-top: -.4em

			// 調號
			&[diao="0"]:before
				content: '˙'

			&[diao="2"]:before
				content: 'ˊ'

			&[diao="3"]:before
				content: 'ˇ'

			&[diao="4"]:before
				content: 'ˋ'

			&[diao]:before
				// posi
				position: absolute
				vertical-align: middle

				// size
				+scale(.55)
				-webkit-transform: scale(.65)
				height: 2.7em
				width: 1em


			&[diao="0"]:before,
			&[diao="2"]:before,
			&[diao="3"]:before,
			&[diao="4"]:before
				margin-right: -.6em
				right: 0

			&[diao="0"]:before
				margin-right: -.35em
				margin-top: 0

			// 依注音字符數量為調號定位
			&[form="shengmu"][diao]:not([diao="0"]):before,
			&[form="jieyin"][diao]:not([diao="0"]):before,
			&[form="yunmu"][diao]:not([diao="0"]):before
				margdin-top: .45em
				padding-top: .35em

			&[form="shengmu-jieyin"][diao]:not([diao="0"]):before,
			&[form="shengmu-yunmu"][diao]:not([diao="0"]):before,
			&[form="jieyin-yunmu"][diao]:not([diao="0"]):before
				margin-top: .45em

			&[form="shengmu-jieyin-yunmu"][diao]:not([diao="0"]):before
				margin-top: .35em

			&[form="shengmu"][diao="0"]:before,
			&[form="jieyin"][diao="0"]:before,
			&[form="yunmu"][diao="0"]:before
				margin-top: .45em

			&[form="shengmu-jieyin-yunmu"][diao="0"]:before
				margin-top: -.6em


	// 楷體注音符號的注音、調號位置調整
	&[generic="serif"] rb[yin]
		// 單個注音字符
		&[form="shengmu"]:after,
		&[form="jieyin"]:after,
		&[form="yunmu"]:after
			margin-top: .65em

		// 二個注音字符
		&[form="shengmu-jieyin"]:after,
		&[form="shengmu-yunmu"]:after,
		&[form="jieyin-yunmu"]:after
			margin-top: .35em

		// 三個注音字符
		&[form="shengmu-jieyin-yunmu"]:after
			margin-top: -.25em

		// 調號
		&[diao="0"]:before,
		&[diao="2"]:before,
		&[diao="3"]:before,
		&[diao="4"]:before
			margin-right: -.6em
			right: 0

		&[diao="0"]:before
			margin-right: -.275em
			margin-top: .35em

		&[diao="2"]:before
			margin-right:  -.5em

		// 依注音字符數量為調號定位
		&[form="shengmu"][diao]:not([diao="0"]):before,
		&[form="jieyin"][diao]:not([diao="0"]):before,
		&[form="yunmu"][diao]:not([diao="0"]):before
			margin-top: .35em

		&[form="shengmu-jieyin"][diao]:not([diao="0"]):before,
		&[form="shengmu-yunmu"][diao]:not([diao="0"]):before,
		&[form="jieyin-yunmu"][diao]:not([diao="0"]):before
			margin-top: .65em

		&[form="shengmu-jieyin-yunmu"][diao]:not([diao="0"]):before
			margin-top: .55em

		&[form="shengmu"][diao="0"]:before,
		&[form="jieyin"][diao="0"]:before,
		&[form="yunmu"][diao="0"]:before
			margin-top: .6em

		&[form="shengmu-jieyin-yunmu"][diao="0"]:before
			margin-top: -.2em


	// 若在實驗性底線中
	u.han-js-charized
		border-bottom: 1px solid
		padding-bottom: .125em

		span.char span
			border-bottom: 0 none !important

		& + u 
			margin-left: .125em



// 在Retina Display螢幕下，可使用更小的注音符號
@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)

	h-ruby 
		& rb[yin],
		&[generic="serif"] rb[yin]
			// 注音
			&:after
				+scale(.4)
				line-height: .9

			// 調號
			&[diao]:before
				+scale(.45)

			// 單個注音字符
			&[form="shengmu"]:after,
			&[form="jieyin"]:after,
			&[form="yunmu"]:after
				margin-top: .4em

			// 二個注音字符
			&[form="shengmu-jieyin"]:after,
			&[form="shengmu-yunmu"]:after,
			&[form="jieyin-yunmu"]:after
				margin-top: .05em

			// 三個注音字符
			&[form="shengmu-jieyin-yunmu"]:after
				margin-top: -.4em

			// 調號
			&[diao="0"]:before,
			&[diao="2"]:before,
			&[diao="3"]:before,
			&[diao="4"]:before
				margin-right: -.5em

			&[diao="0"]:before
				margin-right: -.275em

			// 依注音字符數量為調號定位
			&[form="shengmu"][diao]:not([diao="0"]):before,
			&[form="jieyin"][diao]:not([diao="0"]):before,
			&[form="yunmu"][diao]:not([diao="0"]):before
				margin-top: -.1em

			&[form="shengmu-jieyin"][diao]:not([diao="0"]):before,
			&[form="shengmu-yunmu"][diao]:not([diao="0"]):before,
			&[form="jieyin-yunmu"][diao]:not([diao="0"]):before
				margin-top: .2em

			&[form="shengmu-jieyin-yunmu"][diao]:not([diao="0"]):before
				margin-top: .15em

			&[form="shengmu"][diao="0"]:before,
			&[form="jieyin"][diao="0"]:before,
			&[form="yunmu"][diao="0"]:before
				margin-top: .25em

			&[form="shengmu-jieyin"][diao="0"]:before,
			&[form="shengmu-yunmu"][diao="0"]:before,
			&[form="jieyin-yunmu"][diao="0"]:before
				margin-top: -.1em

			&[form="shengmu-jieyin-yunmu"][diao="0"]:before
				margin-top: -.45em



















