
/* 
 * 漢字標準格式 v2.1.0
 * 以語言為基礎的元素樣式修正
 * ---
 * Language-based style correction, 
 * Hanzi-optimised CSS Mode
 *
 *
 *
 * Lisence: MIT Lisence
 * Last Modified: 2013/10/5
 *
 */


@import 'css3';


 /* ---------------------------------------
    變數設定
    ---
    Variables
    ---------------------------------------
    顏色
    Colours
    --------------------------------------- */
$lightgrey: lightgrey;



/* ---------------------------------------
   針對normalize.css的改進
   ---
   Improvements aim to normalize.css
   ---------------------------------------
   詞彙定義元素`<dfn>`使用粗體
   Term-defining elements `<dfn>` re-styled
   `bolder` instead of `italic`.
   --------------------------------------- */

dfn {
    font-style: inherit;
    font-weight: bolder;
}


/* 增進code區塊的可讀性
   Enhances code blocks' readability
   --------------------------------------- */

pre code {
    display: block;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}



/* ---------------------------------------
   $(selector).charize()
   --------------------------------------- 
   避頭尾點
   Prevents punctuation from stuck in the
   start/end of a line.
   --------------------------------------- */

.han-js-charized span.char,
.han-js-bitouwei-rendered span.bitouwei {
    display: inline-block;
    text-indent: 0;
}

.han-js-charized span.char.space,
.han-js-charized span.char > span {
    display: inline;
}



/* ---------------------------------------
   底線
   ---
   Underlines
   --------------------------------------- 
   註記元素（u）及兩相鄰時的底線區別（u+u）
   Annotations and adjacent ones
   --------------------------------------- */
:lang(zh) u,
:lang(ja) u {
    letter-spacing: 0;
    border-bottom: 1px solid;
    padding-bottom: 0.05em;
    text-decoration: none;
}

u + u {
    margin-left: .125em;
}

html.han-js-rendered u + u {
    margin-left: 0;
}

html.han-js-rendered u.adjacent {
    margin-left: .125em;
}

/* 實驗性功能 */
u.han-js-charized {
    border-bottom: 0 none;
    text-decoration: none;

    span.char:not(:first-of-type):not(:last-of-type) span,
    span.hanla,
    span.char:first-of-type span:after,
    span.char:last-of-type span:after {
        border-bottom: 1px solid;
        padding-bottom: .125em;
    }

    span.char:first-of-type span,
    span.char:last-of-type span {
        position: relative;

        &:after {
            content: '';
            display: inline-block;
            left: 0;
            margin-left: 1px;
            position: absolute;
            top: 0;
            height: 100%;
            @include calc( width, "100% - 1px" );
        }
    }

    span.char:last-of-type span:after {
        margin: 0 1px 0 0;
    }

    span.char:first-child:last-child span:after {
        margin: 0 1px 0;
        @include calc( width, "100% - 2px" );
    }

    :not(:first-child) span.char:first-of-type span:after,
    :not(:last-child) span.char:last-of-type span:after,
    span.char:not(:first-child):first-of-type span:after,
    span.char:not(:last-child):last-of-type span:after {
        border-bottom: 0;
    }

    :not(:first-child) span.char:first-of-type span,
    :not(:last-child) span.char:last-of-type span,
    span.char:not(:first-child):first-of-type span,
    span.char:not(:last-child):last-of-type span {
        border-bottom: 1px solid;
        padding-bottom: .125em;
    }

    span.hanla:first-child,
    span.hanla:last-child {
        border: 0 none;
    }

    :not(:first-child) span.hanla:first-child,
    :not(:last-child) span.hanla:last-child {
        border: 1px solid;
    }



    /* 若在注音符號`<ruby>`中 */
    span.han-js-zhuyin-rendered & {
        border-bottom: 1px solid;
        padding-bottom: .125em;

        span.char span {
            border-bottom: 0 none !important;
        }

        & + u {
            margin-left: .125em;
        }
    }
}





/* 重新定製「連結、插入元素」的樣式
   Re-styles anchors and additions
   --------------------------------------- */

html:lang(zh) {
    a:link,
    a:visited,
    a:hover,
    a:active,
    ins {
        text-decoration: inherit;
    }

    ins {
        border-bottom: 3px double $lightgrey;
        padding-bottom: .05em;
    }
}



/* ---------------------------------------
   文章內的「標題、一般及詩篇段落、清單等」
   ---
   Headings, paragraphs and lists
   in article
   --------------------------------------- 
   四、五號標題
   Headings of level 4 and 5
   --------------------------------------- */

article h4,
article h5 {
    margin: 1em 0;
}

article h4 + h5 {
    margin-top: -.5em;
}



/* 段落及清單
   Paragraphs and lists
   --------------------------------------- */

article p,
article li {
    line-height: 2;
    text-align: justify;
}

article:lang(zh) p.poem-like,
article:lang(zh).poem-like p,
article:lang(zh) .poem-like p,
article:lang(ja) p.poem-like,
article:lang(ja).poem-like p,
article:lang(ja) .poem-like p {
    text-indent: 0;
    margin-left: 2em;
}

article:lang(ja) p.poem-like,
article:lang(ja).poem-like p,
article:lang(ja) .poem-like p {
    margin-left: 1em;
}

article:lang(zh) ol,
article:lang(zh) ul,
article:lang(ja) ol,
article:lang(ja) ul {
    margin: .5em 0 .5em 0;
    padding: 0;

    > li {
        margin-left: 2em;
        padding: 0;
    }
}

article h4 + ul,
article h4 + ol,
article h5 + ul,
article h5 + ol,
article h6 + ul,
article h6 + ol {
    margin-top: -.5em;
}

article:lang(ja) ol,
article:lang(ja) ul {
    margin-left: 1em;
    padding-left: 1.5em;

  > li {
      margin-left: 1em;
  }
}



/* ---------------------------------------
   漢拉間隙
   ---
   Gaps between Hanzi and Latin letter
   --------------------------------------- */

span.hanla,
html:not(.han-la) span.hanla {
    display: none;
}

html.han-la span:lang(zh).hanla,
html.han-la span:lang(ja).hanla {
    display: inline;
    position: static;
}

html.han-la span.hanla:after {
    content: ' ';
    display: inline;
    font-size: 1ch;
    font-size: -webkit-calc( .25em );
}

html.han-la code span.hanla:after,
html.han-la pre span.hanla:after,
html.han-la kbd span.hanla:after,
html.han-la samp span.hanla:after,
html.han-la ol > span.hanla:after,
html.han-la ul > span.hanla:after {
    display: none;
}



/* ---------------------------------------
   書名號
   ---
   Cites
   ---------------------------------------
 *
 * 1. 修正Webkit下的字體fallback
 *    Corrects font fallback on WebKit
 *
 */

cite:lang(zh),
cite:lang(ja),
cite:lang(en).piece {
    font-style: inherit;
}

cite:lang(zh):before,
cite:lang(zh):after {
    content: '《';
    font-family: inherit; /* 1 */
    line-height: inherit;
}

cite:lang(zh):after {
    content: '》';
}

cite:lang(zh).piece:before {
    content: '〈';
}

cite:lang(zh).piece:after {
    content: '〉';
}

cite:lang(ja):before {
    content: '『';
}

cite:lang(ja):after {
    content: '』';
}

cite:lang(ja).piece:before {
    content: '「';
}

cite:lang(ja).piece:after {
    content: '」';
}

cite:lang(en).piece:before,
cite:lang(en).piece:after {
    content: '“';
    font-family: inherit; /* 1 */
}

cite:lang(en).piece:after {
    content: '”';
}

cite:lang(en-GB).piece:before {
    content: '‘';
}

cite:lang(en-GB).piece:after {
    content: '’';
}

.no-cite-mark cite:before,
.no-cite-mark cite:after,
cite.no-cite-mark:before,
cite.no-cite-mark:after {
    content: '' !important;
}



/* ---------------------------------------
   着重號
   ---
   Emphases
   ---------------------------------------
 *
 * 1. 避免繼承父元素的底線
 *    Prevents from displaying underlines
 *    inherited from parental elements.
 *
 */

:lang(zh) em,
:lang(ja) em {
    font-style: inherit;
}

html:not(.han-js-rendered) :lang(zh) em,
html:not(.han-js-rendered) :lang(ja) em {
    border-bottom: 2px dotted;
    padding-bottom: .05em;
}

.textemphasis :lang(zh) em {
    text-emphasis:              circle;
        -moz-text-emphasis:     circle;
        -webkit-text-emphasis:  circle;
    text-emphasis-position:             under;
        -moz-text-emphasis-position:    under;
        -webkit-text-emphasis-position: under;
}

.textemphasis :lang(ja) em {
    text-emphasis:              sesame;
        -moz-text-emphasis:     sesame;
        -webkit-text-emphasis:  sesame;
}

.textemphasis :lang(zh) em span.cjk.biaodian,
.textemphasis :lang(ja) em span.cjk.biaodian {
    text-emphasis:              none;
        -moz-text-emphasis:     none;
        -webkit-text-emphasis:  none;
}

.textemphasis :lang(zh) em span.cjk:after,
.textemphasis :lang(zh) em span.latin:after
.textemphasis :lang(ja) em span.cjk:after,
.textemphasis :lang(ja) em span.latin:after {
    content: none !important;
}

.no-textemphasis :lang(zh) em span.cjk,
.no-textemphasis :lang(ja) em span.cjk,
.no-textemphasis :lang(zh) em span.latin,
.no-textemphasis :lang(ja) em span.latin {
    font-style: inherit;
    position: relative;
}

.no-textemphasis :lang(zh) em span.cjk:after,
.no-textemphasis :lang(ja) em span.cjk:after,
.no-textemphasis :lang(zh) em span.latin:after,
.no-textemphasis :lang(ja) em span.latin:after {
    content: '・'; /*●*/
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    height: 1.9em; /* 1 */
    left: 0;
    line-height: 1.9em;
    margin: .925em 0 0 0;
    overflow: hidden;
    position: absolute;
    text-decoration: none; /* 1 */
    text-indent: 0;
    top: 0;
}

.no-textemphasis :lang(ja) em span.cjk:after,
.no-textemphasis :lang(ja) em span.latin:after {
    content: '、';
    margin: -1.2em 0 0 .35em;
    overflow: inherit;
}

.no-textemphasis :lang(zh) em span.latin:after {
    margin: .775em 0 0 -.25em;
}

.no-textemphasis :lang(ja) em span.latin:after {
    margin-left: 0em;
}

.no-textemphasis :lang(zh) em span.space:after,
.no-textemphasis :lang(ja) em span.space:after,
.no-textemphasis :lang(zh) em span.cjk.biaodian:after,
.no-textemphasis :lang(ja) em span.cjk.biaodian:after {
    content: none;
}

:not(:lang(zh)):not(:lang(ja)) em,
.textemphasis :not(:lang(zh)):not(:lang(ja)) em {
    font-style: italic;
    text-emphasis:              none;
        -moz-text-emphasis:     none;
        -webkit-text-emphasis:  none;

}

.no-textemphasis :not(:lang(zh)):not(:lang(ja)) em span:after {
    content: none;
}



/* ---------------------------------------
   變音文字
   ---
   Alternative voices
   ---------------------------------------
 *
 * 1. 如果系統不支援楷體
 *    If Kaiti is not supported
 *
 */

:lang(zh) i,
:lang(ja) i,
i:lang(zh),
i:lang(ja) {
    font-style: inherit;
}

i:lang(zh),
i:lang(ja) {
    font-family: cursive, serif;
}

.no-fontface-kaiti i:lang(zh),
.no-fontface-kaiti i:lang(ja) /* 1 */ {
    font-family: serif;
    border-bottom: 3px double $lightgrey;
    padding-bottom: .05em;
}



/* ---------------------------------------
   文章內重點
   ---
   Importance in article
   --------------------------------------- */

article strong:lang(zh),
article strong:lang(ja) {
    font-family: sans-serif;
    font-weight: bolder;
}



/* ---------------------------------------
   引用
   ---
   Quotes
   --------------------------------------- 
   行內引言
   Inline quotation
   --------------------------------------- */

q:lang(zh),
q:lang(ja) {
    quotes: '「' '」' '『' '』' '「' '」' '『' '』' '「' '」' '『' '』';
}

q:lang(zh-CN),
q:lang(zh-hans),
q:lang(en) {
    quotes: '“' '”' '‘' '’' '“' '”' '‘' '’' '“' '”' '‘' '’';
}

q:lang(en-GB) {
    quotes: '‘' '’' '“' '”' '‘' '’' '“' '”' '‘' '’' '“' '”';
}


q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

.no-quotes q:lang(zh):before,
.no-quotes q:lang(ja):before {
    content: '「';
}

.no-quotes q:lang(zh):after,
.no-quotes q:lang(ja):after {
    content: '」';
}

.no-quotes q.double:lang(zh):before,
.no-quotes q.double:lang(ja):before {
    content: '『';
}

.no-quotes q.double:lang(zh):after,
.no-quotes q.double:lang(ja):after {
    content: '』';
}


/* 區塊引用
   Block quotes
   ---------------------------------------
   文章內的區塊引用
   In articles
   --------------------------------------- */

article:lang(zh) blockquote,
article:lang(ja) blockquote {
    font-family: serif;
    margin: 1.5em 0 1.5em 2em;
    width: auto;
}

/* 引用中的引用
   Blockquote hierarchies
   --------------------------------------- */

article:lang(zh) blockquote blockquote {
    margin: 1em 0 1em 2em;
    padding-left: 2em;
}

article:lang(ja) blockquote blockquote {
    margin: 1em 0 1em 1em;
    padding-left: 1em;
}


/* 描述元素內的區塊引用
   In figures
   --------------------------------------- */

figure:lang(zh) blockquote,
figure:lang(ja) blockquote,
figure:lang(zh) blockquote blockquote
figure:lang(ja) blockquote blockquote {
    font-family: serif;
    font-size: 1.25em;
    margin: .5em 0 0;
    padding: 7px;
}


figure:lang(zh) blockquote:before,
figure:lang(ja) blockquote:before {
    color: $lightgrey;
    content: '‘';
    display: block;
    float: left;
    font: 3em bold serif;
    margin: -.2em .1em -.25em -7px;
}

figure:lang(zh) blockquote p,
figure:lang(ja) blockquote p,
figure:lang(zh) blockquote blockquote p
figure:lang(ja) blockquote blockquote p {
    margin: .2em 0;
}

figure figcaption {
    border-top: 1px solid $lightgrey;
    clear: both;
    color: #666;
    font: .85em normal sans-serif;
    padding-top: .25em;
    text-align: justify;
}



/* ---------------------------------------
   漢字註音
   ---
   Hanzi Rubies
   ---------------------------------------
   羅馬拼音
   Romanisation
   --------------------------------------- */

html.han-js-rendered ruby rt:before,
html.han-js-rendered ruby rt:after {
    content: '';
}

html.ruby ruby rt {
    padding: 0 .2em;
}

html.no-ruby ruby {
    display: inline-block;
    line-height: 1.2;
    text-indent: 0;
    vertical-align: 1.15em;
}

html.no-ruby ruby,
html.no-ruby ruby .rt {
    text-indent: 0;
}

html.no-ruby ruby .rr {
    display: inline-table;
    text-align: center;
}

html.no-ruby ruby .rb {
    display: table-row-group;
}

html.no-ruby ruby:not(.mps) .rt {
    display: table-header-group;
    font-size: .8em;
    line-height: normal;
    padding: 0 .05em;
    white-space: nowrap;
}

html.no-ruby ruby .rt:empty:after {
    content: ' ';
    display: inherit;
}


/* 橫式注音符號
   Zhuyin (left-to-right)
   --------------------------------------- */

ruby.mps-ltr rt,
ruby.mps-ltr .rt {
    font-family: cursive, serif;
}



/* ---------------------------------------
   代碼元素
   ---
   Code
   --------------------------------------- */

code,
kbd,
pre,
samp {
    font-family: monospace, sans-serif;
}



/* ---------------------------------------
   在手持裝置上的微調
   ---
   Adjustments to mobile devices
   --------------------------------------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
       only screen and (device-aspect-ratio: 2/3),
       only screen and (device-aspect-ratio: 40/71) {

    article:lang(zh).poem-like p,
    article:lang(zh) .poem-like p,
    article:lang(zh) p.poem-like,
    article:lang(zh) ol > li,
    article:lang(zh) ul > li {
        margin-left: 1em;
        padding: 0;
    }

    article:lang(zh) blockquote {
        margin-left: 1em;
    }

    article:lang(zh) blockquote blockquote {
        margin-left: 1em;
        padding-left: 1em;
    }
}

