
@import '..'

em.above
  han-text-emphasis( over )
em.sesame
  han-text-emphasis( under, sesame, open, inherit, true, false )
em.above-dc
  han-text-emphasis( over, double-circle, open, inherit, true, false )
em.rebecca
  han-text-emphasis( under, triangle, filled, #639, true, false )
em.no-skip
  han-text-emphasis( under, circle, open, red, false, false )

