doctype html
html(lang='zh-Hant').han-init
  head
    meta(charset='utf-8')
    title 測試頁索引 — 漢字標準格式
    link(rel='stylesheet', href='./han.min.css')

    style.
      html {
        overflow-x: hidden;
      }

      article {
        /* position */
        margin: 0 auto;

        /* box */
        max-width: 35em;
        padding: 0 .5em 15em;
      }
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='印刷品般的漢字網頁排版框架')
    meta(name='keywords' content='漢字標準格式, 中文, 排版, 排版規範, 日文, 字體排印, 文字設計, CLReq, CSS, Sass, typography')

  body.test
    article
      h1 測試頁索引
      ul#test-pages
        li: a(href='../test') JavaScript APIs
        li: a(href='test.html')  測試頁（標準，繁體中文）
        li: a(href='test-hans.html' lang='zh-Hans')  测试页（标准，简体中文）
        li: a(href='test-ja.html' lang='ja')  測試頁（標準，日本語）
        li: a(href='test-amd.html') 測試頁（AMD模組）
        li: a(href='test-commonjs.html') 測試頁（CommonJS模組，browserify）
        li: a(href='test-nojs.html') 測試頁（無JavaScript）
      section#normalisation
        h2 <span lang='en'>Normalisation</span>（樣式標準化）
        section#wuxu_peihe_js_de_yuansu_yangshi_xiuzheng
          h3 毋須配合JavaScript的元素樣式修正
          p 見
            a(href='#test-pages') 上列測試頁
            | 。
        section#peihe_js_de_yuansu_yangshi_xiuzheng
          h3 配合JavaScript的元素樣式修正
          ul
            li: a(href='./deco-line.html') 文字裝飾線元素
            li: a(href='./em.html') 強調元素（着重號）
            li: a(href='./ruby.html') 行間注元素
      section#ziti
        h2 字體
        section#hanzi
          h3 漢字字體
          ul
            li: a(href='./biaodian.html') 標點符號
            li: a(href='./four.html') 四大字體集
            li: a(href='generics.html') 字體基型（
              span(lang='en') typeface generics
              | ）與
              code @extend
        section#qita
          h3 其他
          ul
            li: a(href='./italic.html') 西文意大利體
            li: a(href='./numeral.html') 數字
            li: a(href='./ruby(ff).html') 標音（注音符號、羅馬拼音）
      section#paiban
        h2 排版
        section#zhangjie_de_zucheng
          h3 章節的組成
          ul
            li: a(href='./well-knit.html') 文章、章節與內容的邊界調整
            li: a(href='./counter.html') 章節與目錄的計數
        section#hang_de_zucheng
          h3 行的組成
          ul
            li: a(href='./hws.html') 漢字－西文混排間隙
            li: a(href='./jiya.html') 標點擠壓
            li: a(href='./hanging.html') 行尾點號懸掛
            li: a(href='./subst.html') 字元的替換
    //
      section#api
        h2 API
        ul
          li: a(href='./api/jinzify.html') 強制標點禁則
          li: a(href='./api/charify.html') 字元級選擇器
          li: a(href='./api/deco-line.html') 相鄰文字裝飾線
          li: a(href='./api/em.html') 着重號
          li: a(href='./api/ruby.html') 行間注元素

    // Here goes scripts
    script(src='./han.min.js')
