// **
// * Import Han module
// *
@import '..'

#zhuyin_fuhao-heiti p
  @extend $han-ligature
  font-family: "Zhuyin Heiti", "Biaodian Pro Sans", "Helvetica Neue", Helvetica, Arial, "Han Heiti", sans-serif

#zhuyin_fuhao-kaiti p
  @extend $han-ligature
  font-family: "Zhuyin Kaiti", "Biaodian Pro Serif", Georgia, "Times New Roman", "Han Kaiti", cursive, serif

#luoma_pinyin p,
#pua p
  @extend $han-ligature
  font-family: "Romanization Sans", "Biaodian Pro Sans", "Helvetica Neue", Helvetica, Arial, "Han Heiti", sans-serif
