
/*  Global
 * -------- */

if $han-line-height != $HAN-LINE-HEIGHT
  {$han-root}
    line-height: $han-line-height

// * Styles for alternative voice and variables when
// * Kaiti (cursive) isn't supported.
// *
i,
var
  .no-kaiti &
    // box
    padding-bottom: 0.05em
    // style
    border-bottom: 3px double lightgrey

// * Zhuyin ruby size
// *
if $han-zhuyin-size != $HAN-ZHUYIN-SIZE
  ruby.zhuyin,
  ruby.mps
    han-scale( $han-zhuyin-size/.5, 'left center' )

  [zhuyin] h-zhuyin > *
    han-scale( $han-zhuyin-size )

/*  Section-wise arrangement
 * -------------------------- */

@import 'section/well-knit'
@import 'section/counter'

/*  Line composition
 * ------------------ */

@import 'inline/em'
@import 'inline/hws'
@import 'inline/hanging'
@import 'inline/jiya'
@import 'inline/subst'

