
/**
 * Zhuyin Kaiti
 */

@font-face {
	@include mre-webfont;
	@include mre-range-zhuyin;
	font-family: 'Zhuyin Kaiti';
}

/**
 * Zhuyin Heiti
 */

// * 1. Medial ‘yi’ (介音「ㄧ」)
// * 2. Tones (五聲調號)
// *
@font-face {
	@include mre-range-zhuyin;
	font-family: 'Zhuyin Heiti';
	src:
		local('Hiragino Sans GB'),
		local('Heiti TC'),
		local('Microsoft Jhenghei'),
		$mre-webfont
	;
}

// 1
@font-face {
	font-family: 'Zhuyin Heiti';
	src:
		local('Heiti TC'),
		local('Microsoft Jhenghei'),
		$mre-webfont
	;
	unicode-range: U+3127;
}

// 2
@font-face {
	font-family: 'Zhuyin Heiti';
	src: $mre-webfont;
	unicode-range: U+02C7, U+02CA-B, U+02D9;
}

/**
 * Romanisation (checked tone ligature [陽入韻連字])
 */
@font-face {
	@include mre-webfont;
	font-family: 'Romanization Sans';
	unicode-range: U+030D, U+0358;
}
