
/**
 * The Four Typefaces: Songti (serif)
 * 四大字體集・宋體
 */

// * 1. Recommended
// * 2. CNS (適用台灣的舊字形或國字標準字形字體)
// * 3. GB (中國國標)

// 1
@font-face {
  font-family: 'Han Songti';
  src:
    local('Songti SC'),
    local('Songti TC'),

    local(STSong),
    local('Lisong Pro'),

    local(SimSun),
    local(PMingLiU)
  ;
}

@font-face {
  @include mre-range-cjk;
  font-family: 'Han Songti';
  src:
    local(YuMincho),
    local('Hiragino Mincho ProN'),
    local('Hiragino Mincho Pro'),
    local('MS Mincho')
  ;
}

// 2
@font-face {
  font-family: 'Han Songti CNS';
  src:
    local('Songti TC'),
    local('Lisong Pro'),

    local('Songti SC'),
    local(STSong),

    local(PMingLiU),
    local(SimSun)
  ;
}

@font-face {
  @include mre-range-cjk;
  font-family: 'Han Songti CNS';
  src:
    local(YuMincho),
    local('Hiragino Mincho ProN'),
    local('Hiragino Mincho Pro')
  ;
}

// 3
@font-face {
  font-family: 'Han Songti GB';
  src:
    local('Songti SC'),
    local(STSong),
    local(SimSun),
    local(PMingLiU)
  ;
}

/* Bold
 */

// 1
@font-face {
  font-family: 'Han Songti';
  font-weight: 600;
  src:
    local('STSongti SC Bold'),
    local('STSongti TC Bold'),
    local(STSongti-SC-Bold),
    local(STSongti-TC-Bold);
}

@font-face {
  @include mre-range-cjk;
  font-family: 'Han Songti';
  font-weight: 600;
  src:
    local('YuMincho Demibold'),
    local('Hiragino Mincho ProN W6'),
    local('Hiragino Mincho Pro W6'),
    local(YuMin-Demibold),
    local(HiraMinProN-W6),
    local(HiraMinPro-W6);
}

// 2
@font-face {
  font-family: 'Han Songti CNS';
  font-weight: 600;
  src:
    local('STSongti TC Bold'),
    local('STSongti SC Bold'),
    local(STSongti-TC-Bold),
    local(STSongti-SC-Bold);
}

@font-face {
  @include mre-range-cjk;
  font-family: 'Han Songti CNS';
  font-weight: 600;
  src:
    local('YuMincho Demibold'),
    local('Hiragino Mincho ProN W6'),
    local('Hiragino Mincho Pro W6'),
    local(YuMin-Demibold),
    local(HiraMinProN-W6),
    local(HiraMinPro-W6)
  ;
}

// 3
@font-face {
  font-family: 'Han Songti GB';
  font-weight: 600;
  src:
    local('STSongti SC Bold'),
    local(STSongti-SC-Bold)
  ;
}

/* Address solution to `unicode-range` unsupported
 * issues in Firefox.
 */
@font-face {
  font-family: 'Han Songti';
  src:
    local('Songti SC'),
    local('Songti TC'),

    local(STSongti),
    local('Lisong Pro'),

    local('MS Mincho'),
    local(SimSun),
    local(PMingLiU)
  ;
  unicode-range: U+270C;
}

@font-face {
  font-family: 'Han Songti';
  font-weight: 600;
  src:
    local('STSongti TC Bold'),
    local('STSongti SC Bold'),
    local(STSongti-TC-Bold),
    local(STSongti-SC-Bold)
  ;
  unicode-range: U+270C;
}

@font-face {
  font-family: 'Han Songti CNS';
  src:
    local('Songti TC'),
    local('Lisong Pro'),

    local('Songti SC'),
    local(STSong),

    local('MS Mincho'),
    local(PMingLiU),
    local(SimSun)
  ;
  unicode-range: U+270C;
}

@font-face {
  font-family: 'Han Songti CNS';
  font-weight: 600;
  src:
    local('STSongti TC Bold'),
    local('STSongti SC Bold'),
    local(STSongti-TC-Bold),
    local(STSongti-SC-Bold)
  ;
  unicode-range: U+270C;
}

@font-face {
  font-family: 'Han Songti GB';
  src:
    local('Songti SC'),
    local(STSong),
    local(SimSun)
  ;
  unicode-range: U+270C;
}
